Repository deepsquare-io/grid, changes with the owners that CODEOWNERS names for each.
All owners: @Darkness4, @Lymnah, @efelem, @valentinpollart

CODEOWNERS:

# CI/CD
.github/ @Darkness4
docker/ @Darkness4

# Contracts
smart-contracts/ @Lymnah @Darkness4 @efelem
protos/ @Darkness4 @efelem @Lymnah
schemas/ @Darkness4 @valentinpollart

# Customer side
customer-portal/ @valentinpollart @Lymnah
cli/ @Darkness4 @Lymnah

# Microservices
sbatch-services/ @Darkness4
avalanche-subnet/ @efelem
oracle-scheduler/ @efelem @Lymnah

# Cluster-side
provider-job-completion-plugin/ @Darkness4
provider-spank-plugin/ @Darkness4
provider-ssh-authorized-keys/ @Darkness4
supervisor/ @Darkness4

fix(exporter): fix missing package
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  smart-contracts-exporter/main.go
Owners: none

fix(exporter): handle negative duration
  smart-contracts-exporter/watcher/watcher.go
Owners: none

feat(sbatch-service): deprecate mounts for DEEPSQUARE_TMP (#359)
  docs/docs/05-deploy-deepsquare/03-guides/03-environment-variables.md
  docs/docs/05-deploy-deepsquare/03-guides/04-mounts.md
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/02-job.md
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/02-job.track
  docs/schemas/job.schema.json
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/graph/generated.go
  sbatch-service/graph/model/models.go
  sbatch-service/graph/model/models_gen.go
  sbatch-service/renderer/renderer_enroot_command.sh.tpl
  sbatch-service/renderer/renderer_enroot_command_test.go
  sbatch-service/renderer/renderer_job.sh.tpl
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
  sbatch-service/renderer/renderer_step_test.go
  sbatch-service/renderer/renderer_step_use_test.go
Owners: @Darkness4, @valentinpollart

fix(sbatch-service): ignore directive
  sbatch-service/server.go
Owners: none

feat(sbatch-service): use custom directive for constraint
  docs/schemas/job.schema.json
  sbatch-service/Makefile
  sbatch-service/gqlgen.yml
  sbatch-service/graph/generate.go
  sbatch-service/graph/generated.go
  sbatch-service/graph/model/models.go
  sbatch-service/graph/model/models_gen.go
  sbatch-service/graph/resolver.go
  sbatch-service/server.go
Owners: @Darkness4, @valentinpollart

fix(sbatch-service): fix mount path
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
Owners: none

docs: updated Clusterfactory requirements
  cli/README.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/10-requirements.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/11-requirements.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/10-about.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/20-deploy-core.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/30-control-plane-configuration.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/40-compute-plane-configuration.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/50-maintenance.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/_category_.json
  docs/docs/05-deploy-deepsquare/02-getting-started/part-1.md
  docs/docs/05-deploy-deepsquare/02-getting-started/part-2.md
  docs/docs/05-deploy-deepsquare/04-samples/01-upscaling.md
  docs/docs/05-deploy-deepsquare/04-samples/02-stable-diffusion.md
  docs/docs/05-deploy-deepsquare/04-samples/03-unity-render-streaming.md
  docs/docs/05-deploy-deepsquare/04-samples/04-blender.md
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/02-job.md
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/02-job.track
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/_category_.json
  docs/schemas/job.schema.json
  sbatch-service/graph/generated.go
  sbatch-service/graph/model/models_gen.go
Owners: @Darkness4, @Lymnah, @valentinpollart

feat(go): only export abi, no bytecode
  cli/gen/go/contracts/metascheduler/metascheduler.go
  cli/scripts/1.generate-eth.sh
  ldap-connector/gen/go/contracts/metascheduler/metascheduler.go
  ldap-connector/scripts/1.generate-eth.sh
  smart-contracts-exporter/scripts/1.generate-eth.sh
  supervisor/gen/go/contracts/metascheduler/metascheduler.go
  supervisor/scripts/2.generate-eth.sh
Owners: @Darkness4, @Lymnah

docs(deploy-deepsquare): update overview
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/10-about.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/10-overview.assets/architecture-cf-de-Page-2.drawio-1683645431656-6.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/10-overview.assets/architecture-cf-de-Page-3.drawio.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/10-overview.assets/architecture-cf-de-Page-4.drawio.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/10-overview.assets/architecture-cf-de-Page-5.drawio.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/10-overview.assets/k0s_controller_processes.png
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/10-overview.assets/k0s_worker_processes.png
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/10-overview.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/20-prerequisites.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/30-deploy-core.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/40-control-plane-configuration.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/50-compute-plane-configuration.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/60-maintenance.md
Owners: none

docs(deploy-deepsquare): forgot deepsquare users
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/10-overview.assets/architecture-cf-de-Page-5.drawio.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/10-overview.md
Owners: none

docs(deploy-deepsquare): add minor corrections
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/10-overview.md
Owners: none

docs(deploy-deepsquare): minor corrections
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/10-overview.md
Owners: none

docs(deepsquare-grid): deploy-core
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/20-prerequisites.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/30-deploy-core.assets/architecture-cf-de-Page-4-next.drawio.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/30-deploy-core.assets/architecture-cf-de-Page-5-next.drawio.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/30-deploy-core.assets/architecture-cf-de-Page-5.drawio.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/30-deploy-core.assets/architecture-cf-de-Page-6.drawio.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/30-deploy-core.assets/architecture-cf-de-Page-7.drawio.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/30-deploy-core.assets/metallb_concepts-afe86a92b9fa058b25211ba9e095608d.png
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/30-deploy-core.assets/traefik-concepts-2.png
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/30-deploy-core.md
Owners: none

docs(deepsquare-grid): deploy TODO
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/40-control-plane-configuration.md
Owners: none

docs(deepsquare-grid): about deploying 389ds and ldap-connector
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/40-control-plane-configuration.md
Owners: none

feat(smart-contracts): LinkedList providers and their labels (#372)
  cli/scripts/1.generate-eth.sh
  ldap-connector/scripts/1.generate-eth.sh
  smart-contracts-exporter/scripts/1.generate-eth.sh
  supervisor/scripts/2.generate-eth.sh
Owners: @Darkness4, @Lymnah

docs(deepsquare-grid): add mariadb tutorial
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/30-deploy-core.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/40-control-plane-configuration.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/50-compute-plane-configuration.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/60-maintenance.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/_category_.json
Owners: none

fix(supervisor): fix early closing log channel
  supervisor/.env
  supervisor/.vscode/launch.json
  supervisor/Dockerfile
  supervisor/cmd/main.go
  supervisor/pkg/eth/eth_datasource.go
  supervisor/pkg/job/job_watcher.go
Owners: @Darkness4

fix(supervisor): fix unit test
  supervisor/pkg/eth/eth_datasource_test.go
Owners: @Darkness4

fix(supervisor): close channel after goroutine ends
  supervisor/pkg/eth/eth_datasource.go
Owners: @Darkness4

fix(exporter): fix scalar NaN
  smart-contracts-exporter/graph/schema.resolvers.go
Owners: none

feat(provider-ssh-authorized-keys): provider docker
  provider-ssh-authorized-keys/Dockerfile
  provider-ssh-authorized-keys/go.sum
  provider-ssh-authorized-keys/main.go
Owners: @Darkness4

docs(deepsquare-grid): deploy SLURM WiP
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/30-deploy-core.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/40-control-plane-configuration.md
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/02-job.md
Owners: none

refactor(sbatch-service): remove fmt.print
  sbatch-service/renderer/funcs.go
  sbatch-service/renderer/renderer_slirp4netns.go
  sbatch-service/renderer/renderer_slirp4netns_test.go
  sbatch-service/renderer/renderer_step_async_launch_test.go
  sbatch-service/renderer/renderer_step_use.go
  sbatch-service/renderer/renderer_step_use_test.go
Owners: none

fix(supervisor): buffering channels
  supervisor/pkg/job/watcher/watcher_test.go
  supervisor/pkg/metascheduler/metascheduler_client.go
  supervisor/pkg/metascheduler/metascheduler_client_test.go
  supervisor/pkg/utils/try/try.go
Owners: @Darkness4

fix(supervisor): buffering channels up to 100
  supervisor/pkg/metascheduler/metascheduler_client.go
Owners: @Darkness4

fix(grid-logger): buffering channel
  grid-logger/server/api/health/health.go
  grid-logger/server/api/logger.go
  grid-logger/writer/main.go
Owners: none

feat(grid-logger): added performance profiler
  grid-logger/server/main.go
Owners: none

fix(supervisor): fix loading wrong CA
  supervisor/cmd/main.go
  supervisor/pkg/server/server.go
Owners: @Darkness4

fix(grid-logger): fix pprof env var and flag
  grid-logger/server/main.go
Owners: none

docs(deepsquare-grid): deploy SLURM, supervisor and cvmfs
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/30-deploy-core.assets/architecture-cf-de-Page-7.drawio.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/40-control-plane-configuration.assets/architecture-cf-de-Page-5-389ds.drawio.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/40-control-plane-configuration.assets/architecture-cf-de-Page-5-CVMFS.drawio.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/40-control-plane-configuration.assets/architecture-cf-de-Page-5-Ldap-connector.drawio.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/40-control-plane-configuration.assets/architecture-cf-de-Page-5-Mariadb.drawio.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/40-control-plane-configuration.assets/architecture-cf-de-Page-5-SLURM.drawio.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/40-control-plane-configuration.assets/architecture-cf-de-Page-5-Supervisor.drawio.svg
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory/40-control-plane-configuration.md
Owners: none

refactor(exporter): use getter for BilledTooMuch
  smart-contracts-exporter/watcher/watcher.go
Owners: none

fix(supervisor): fix closing subscription
  supervisor/pkg/metascheduler/metascheduler_client.go
Owners: @Darkness4

fix(supervisor): fix test
  supervisor/pkg/metascheduler/metascheduler_client_test.go
Owners: @Darkness4

docs(deepsquare-grid): added compute plane configuration
  docs/docs/04-deepsquare-grid/10-join-the-grid/20-clusterfactory/30-deploy-core.md
  docs/docs/04-deepsquare-grid/10-join-the-grid/20-clusterfactory/40-control-plane-configuration.assets/architecture-cf-de-Page-4-grendel.drawio.svg
  docs/docs/04-deepsquare-grid/10-join-the-grid/20-clusterfactory/40-control-plane-configuration.md
  docs/docs/04-deepsquare-grid/10-join-the-grid/20-clusterfactory/50-compute-plane-configuration.md
Owners: none

refactor(docs): moved files around (modules)
  docs/workflow/03-guides/00-overview.md
  docs/workflow/03-guides/01-module-development/00-about.md
  docs/workflow/03-guides/01-module-development/00-overview.assets/github-create.png
  docs/workflow/03-guides/01-module-development/00-overview.assets/image-20230427212448824.png
  docs/workflow/03-guides/01-module-development/01-usage.md
  docs/workflow/03-guides/01-module-development/02-create.md
  docs/workflow/03-guides/01-module-development/_category_.json
  docs/workflow/03-guides/02-container-runtimes.mdx
  docs/workflow/03-guides/03-deepsquare-images.md
  docs/workflow/03-guides/04-environment-variables.md
  docs/workflow/03-guides/05-mounts.md
  docs/workflow/03-guides/06-maproot.md
Owners: none

docs(deepsquare-grid): about maintenance
  docs/deepsquare-grid/clusterfactory/50-compute-plane-configuration.md
  docs/deepsquare-grid/clusterfactory/60-maintenance.md
Owners: none

docs(deepsquare-grid): fix typo
  docs/deepsquare-grid/clusterfactory/60-maintenance.md
Owners: none

docs(deepsquare-grid): punctuation
  docs/deepsquare-grid/clusterfactory/60-maintenance.md
Owners: none

chore(supervisor): add more logging
  supervisor/pkg/job/scheduler/scheduler_slurm.go
  supervisor/pkg/metascheduler/metascheduler_client.go
Owners: @Darkness4
