Repository deepsquare-io/grid, changes with the owners that CODEOWNERS names for each.
All owners: @Darkness4, @Lymnah, @efelem, @valentinpollart

fix(sbatch-service): expire after 1 hour
  sbatch-service/graph/schema.resolvers.go
Owners: none

chore(sbatch-service): fix some fixture
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/stable-diffusion.yaml
Owners: none

chore(README): redo dependency tree
  README.md
Owners: none

chore(README): proper dependency graph
  README.md
Owners: none

chore(README): renamed provider-ssh-authorized-keys
  README.md
Owners: none

docs(build-on-dps): remove maj
  docs/docs/05-build-on-dps/01-overview.md
  docs/docs/05-build-on-dps/02-getting-started.md
  docs/docs/05-build-on-dps/03-workflow-files.md
  docs/docs/05-build-on-dps/04-sdk.md
  docs/docs/05-build-on-dps/_category_.json
Owners: none

docs(build-on-dps): overview wip
  docs/docs/05-build-on-dps/01-overview.assets/deepsquare-architecture.drawio.svg
  docs/docs/05-build-on-dps/01-overview.md
Owners: none

docs(deploy-deepsquare): rearranging the layout
  docs/docs/03-deepsquare-grid/10-join-the-grid/_category_.json
  docs/docs/05-build-on-dps/02-getting-started.md
  docs/docs/05-build-on-dps/04-sdk.md
  docs/docs/05-deploy-deepsquare/01-overview.assets/deepsquare-architecture.drawio.svg
  docs/docs/05-deploy-deepsquare/01-overview.md
  docs/docs/05-deploy-deepsquare/02-getting-started/_category_.json
  docs/docs/05-deploy-deepsquare/02-getting-started/part-1.md
  docs/docs/05-deploy-deepsquare/02-getting-started/part-2.md
  docs/docs/05-deploy-deepsquare/02-getting-started/part-3.md
  docs/docs/05-deploy-deepsquare/02-getting-started/part-4.md
  docs/docs/05-deploy-deepsquare/03-guides/01-connecting-wireguard.md
  docs/docs/05-deploy-deepsquare/03-guides/_category_.json
  docs/docs/05-deploy-deepsquare/04-client-development/04-sdk.md
  docs/docs/05-deploy-deepsquare/04-client-development/_category_.json
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/01-overview.md
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/_category_.json
  docs/docs/05-deploy-deepsquare/_category_.json
Owners: none

docs(deploy-deepsquare): prepare some guide
  docs/docs/05-deploy-deepsquare/03-guides/01-connecting-wireguard.md
  docs/docs/05-deploy-deepsquare/03-guides/01-maproot.md
  docs/docs/05-deploy-deepsquare/03-guides/02-mounts.md
  docs/docs/05-deploy-deepsquare/03-guides/03-environment-variables.md
  docs/docs/05-deploy-deepsquare/03-guides/03-logging.md
  docs/docs/05-deploy-deepsquare/03-guides/10-connecting-wireguard.md
  docs/docs/05-deploy-deepsquare/03-guides/20-publishing-deepsquare.md
Owners: none

feat(sbatch-service): add workdir (#228)
  sbatch-service/go.mod
  sbatch-service/go.sum
  sbatch-service/graph/generated.go
  sbatch-service/graph/model/models.go
  sbatch-service/graph/schema.resolvers.go
  sbatch-service/renderer/renderer_apptainer_command.sh.tpl
  sbatch-service/renderer/renderer_apptainer_command_test.go
  sbatch-service/renderer/renderer_enroot_command.sh.tpl
  sbatch-service/renderer/renderer_enroot_command_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
Owners: none

chore(sbatch-service): add start log
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_job.sh.tpl
  sbatch-service/renderer/renderer_job_test.go
Owners: none

fix(sbatch-service): allow empty resources, inherit from job
  sbatch-service/graph/generated.go
  sbatch-service/graph/model/models.go
  sbatch-service/graph/model/models_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
Owners: none

fix(sbatch-service): repair test
  sbatch-service/graph/model/models_test.go
Owners: none

fix(sbatch-service): Wireguard is optional
  sbatch-service/graph/generated.go
Owners: none

fix(supervisor): fix fatal error, bad error handling
  supervisor/pkg/server/jobapi/jobapi.go
Owners: @Darkness4

fix(sbatch-service): SetJobStatus with await transaction
  supervisor/cmd/main.go
  supervisor/pkg/eth/eth_datasource.go
  supervisor/pkg/eth/eth_datasource_test.go
  supervisor/pkg/server/jobapi/jobapi.go
Owners: @Darkness4

docs(deploy-deepsquare): part 1, part 2 and API reference
  docs/docs/05-deploy-deepsquare/02-getting-started/part-1.assets/overlayfs.drawio.svg
  docs/docs/05-deploy-deepsquare/02-getting-started/part-1.md
  docs/docs/05-deploy-deepsquare/02-getting-started/part-2.md
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/01-overview.md
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/02-job.md
  docs/generate-json-schema.ts
  docs/package.json
  docs/pnpm-lock.yaml
  docs/schemas/job.schema.json
Owners: @Darkness4, @valentinpollart

fix(sbatch-service): do not hardcode enroot variables
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_job.sh.tpl
  sbatch-service/renderer/renderer_job_test.go
Owners: none

chore(sbatch-service): add punctuation
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_job.sh.tpl
  sbatch-service/renderer/renderer_job_test.go
Owners: none

Revert "chore(sbatch-service): add punctuation"
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_job.sh.tpl
  sbatch-service/renderer/renderer_job_test.go
Owners: none

Revert "fix(sbatch-service): do not hardcode enroot variables"
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_job.sh.tpl
  sbatch-service/renderer/renderer_job_test.go
Owners: none

fix(sbatch-service): hardcode apptainer_tmpdir
  sbatch-service/renderer/renderer_job.sh.tpl
Owners: none

chore(supervisor): bump version
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4

fix(sbatch-service): fix tests
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_job_test.go
Owners: none

fix(supervisor): add one log
  supervisor/pkg/job/job_watcher.go
Owners: @Darkness4

fix(supervisor): missing log
  supervisor/pkg/job/job_watcher.go
Owners: @Darkness4

docs(deploy-deepsquare): almost full getting started
  docs/docs/05-deploy-deepsquare/02-getting-started/part-1.md
  docs/docs/05-deploy-deepsquare/02-getting-started/part-2.md
  docs/docs/05-deploy-deepsquare/02-getting-started/part-3.md
  docs/docs/05-deploy-deepsquare/02-getting-started/part-4.md
Owners: none

fix(supervisor): put jobs logs in dev null
  supervisor/pkg/slurm/slurm.go
Owners: @Darkness4

feat(sbatch-service): allow MPI settings
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/02-job.md
  docs/package.json
  docs/schemas/job.schema.json
  sbatch-service/graph/generated.go
  sbatch-service/graph/model/models.go
  sbatch-service/graph/model/models_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
Owners: @Darkness4, @valentinpollart

docs(deploy-deepsquare): about S3
  docs/docs/05-deploy-deepsquare/02-getting-started/part-1.md
  docs/docs/05-deploy-deepsquare/02-getting-started/part-2.md
  docs/docs/05-deploy-deepsquare/02-getting-started/part-3.md
  docs/docs/05-deploy-deepsquare/02-getting-started/part-4.md
Owners: none

docs(deploy-deepsquare): fix workfow
  docs/docs/05-deploy-deepsquare/02-getting-started/part-2.md
Owners: none

fix(sbatch-service): explicit do not mount home
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_apptainer_command.sh.tpl
  sbatch-service/renderer/renderer_apptainer_command_test.go
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
  sbatch-service/renderer/renderer_step_test.go
Owners: none

fix(supervisor): add logs to tmp
  supervisor/pkg/slurm/slurm.go
Owners: @Darkness4

fix(grid-logger): add graceful exit
  grid-logger/writer/main.go
Owners: none

fix(grid-logger): do not set to nil
  grid-logger/writer/main.go
Owners: none

fix(grid-logger): add explicit "gracefully exiting"
  grid-logger/writer/main.go
Owners: none

feat(sbatch-service): pre-pull before using image
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/fixtures/mpi-test.json
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/funcs.go
  sbatch-service/renderer/funcs_test.go
  sbatch-service/renderer/renderer_apptainer_command.sh.tpl
  sbatch-service/renderer/renderer_apptainer_command_test.go
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_slirp4netns.sh.tpl
  sbatch-service/renderer/renderer_slirp4netns_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
  sbatch-service/renderer/renderer_step_test.go
Owners: none

chore(sbatch-service): add small log
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
Owners: none

fix(sbatch-service): singularity images are not readonly... forever
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_apptainer_command.sh.tpl
  sbatch-service/renderer/renderer_apptainer_command_test.go
  sbatch-service/renderer/renderer_step_run_test.go
Owners: none

docs(deploy-deepsquare): update reference
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/02-job.md
  docs/schemas/job.schema.json
Owners: @Darkness4, @valentinpollart

CODEOWNERS:

# CI/CD
.github/ @Darkness4
docker/ @Darkness4

# Contracts
smart-contracts/ @Lymnah @Darkness4 @efelem
protos/ @Darkness4 @efelem @Lymnah
schemas/ @Darkness4 @valentinpollart

# Customer side
customer-portal/ @valentinpollart @Lymnah
cli/ @Darkness4 @Lymnah

# Microservices
sbatch-services/ @Darkness4
avalanche-subnet/ @efelem
oracle-scheduler/ @efelem @Lymnah

# Cluster-side
provider-job-completion-plugin/ @Darkness4
provider-spank-plugin/ @Darkness4
provider-ssh-authorized-keys/ @Darkness4
supervisor/ @Darkness4
