Repository deepsquare-io/grid, changes with the owners that CODEOWNERS names for each.
All owners: @Darkness4, @Lymnah, @efelem, @valentinpollart

CODEOWNERS:

# CI/CD
.github/ @Darkness4
docker/ @Darkness4

# Contracts
smart-contracts/ @Lymnah @Darkness4 @efelem
protos/ @Darkness4 @efelem @Lymnah

# Customer side
customer-portal/ @valentinpollart @Lymnah
customer-api/ @efelem @Darkness4
cli/ @Darkness4 @Lymnah

# Web3
avalanche-subnet/ @efelem
oracle-scheduler/ @efelem @Lymnah

# Cluster-side
provider-job-completion-plugin/ @Darkness4
provider-spank-plugin/ @Darkness4
provider-ssh-authorized-keys/ @Darkness4
supervisor/ @Darkness4

fix(supervisor): updated ClaimNextJobEvent
  supervisor/pkg/eth/eth_datasource.go
Owners: @Darkness4

fix(supervisor): fix integration test
  supervisor/pkg/slurm/slurm_integration_test.go
Owners: @Darkness4

refactor(supervisor): handles event using watch function
  supervisor/Makefile
  supervisor/cmd/main.go
  supervisor/mocks/EthereumAuthenticator.go
  supervisor/mocks/Executor.go
  supervisor/mocks/HealthClient.go
  supervisor/mocks/HealthServer.go
  supervisor/mocks/Health_WatchClient.go
  supervisor/mocks/Health_WatchServer.go
  supervisor/mocks/JobAPIClient.go
  supervisor/mocks/JobAPIServer.go
  supervisor/mocks/JobBatchFetcher.go
  supervisor/mocks/JobHandler.go
  supervisor/mocks/JobMetaQueue.go
  supervisor/mocks/JobScheduler.go
  supervisor/mocks/MetaScheduler.go
  supervisor/mocks/ResubscribeErrFunc.go
  supervisor/mocks/ResubscribeFunc.go
  supervisor/mocks/SshAPIClient.go
  supervisor/mocks/SshAPIServer.go
  supervisor/mocks/Subscription.go
  supervisor/mocks/UnsafeHealthServer.go
  supervisor/mocks/UnsafeJobAPIServer.go
  supervisor/mocks/UnsafeSshAPIServer.go
  supervisor/pkg/eth/eth_datasource.go
  supervisor/pkg/eth/eth_datasource_test.go
  supervisor/pkg/eth/eth_mappers.go
  supervisor/pkg/eth/eth_types.go
  supervisor/pkg/job/job_types.go
  supervisor/pkg/job/job_watcher.go
  supervisor/pkg/job/job_watcher_test.go
Owners: @Darkness4

test(supervisor): WatchClaimNextJobEvent
  supervisor/pkg/eth/eth_datasource_test.go
Owners: @Darkness4

fix(supervisor): prefer crash when jobwatcher fails
  supervisor/cmd/main.go
  supervisor/pkg/job/job_watcher.go
Owners: @Darkness4

refactor(supervisor): remove unused code
  supervisor/pkg/eth/eth_datasource.go
Owners: @Darkness4

fix(supervisor): add sleep to avoid race conditions
  supervisor/go.mod
  supervisor/go.sum
  supervisor/pkg/job/job_watcher_test.go
Owners: @Darkness4

feat(supervisor): better health check
  supervisor/cmd/main.go
  supervisor/pkg/job/job_watcher.go
  supervisor/pkg/server/health/health.go
  supervisor/pkg/server/server.go
Owners: @Darkness4

fix(ci): install golang and disable cgo
  supervisor/Makefile
Owners: @Darkness4

fix(ci): install build-essentials
  supervisor/Makefile
Owners: @Darkness4

fix(supervisor): handle errors
  supervisor/Makefile
  supervisor/pkg/server/health/health.go
Owners: @Darkness4

feat(supervisor): adding seperate parameter for websockets
  supervisor/README.md
  supervisor/cmd/main.go
  supervisor/mocks/JobAPIClient.go
  supervisor/mocks/MetaSchedulerRPC.go
  supervisor/mocks/MetaSchedulerWS.go
  supervisor/pkg/eth/eth_datasource.go
  supervisor/pkg/eth/eth_datasource_test.go
  supervisor/pkg/eth/eth_types.go
Owners: @Darkness4

fix(health): avoid deadlock
  supervisor/pkg/server/health/health.go
  supervisor/pkg/server/server.go
Owners: @Darkness4

fix(supervisor): return errors
  supervisor/pkg/job/job_watcher.go
Owners: @Darkness4

fix(supervisor): do not crash supervisor on watcher error
  supervisor/pkg/job/job_watcher.go
Owners: @Darkness4

fix(supervisor): fix race condition
  supervisor/pkg/job/job_watcher.go
  supervisor/pkg/job/job_watcher_test.go
  supervisor/pkg/ssh/ssh_service.go
Owners: @Darkness4

fix(supervisor): regenerate code eth
  supervisor/gen/go/contracts/metascheduler/metascheduler.go
Owners: @Darkness4

chore(supervisor): small debug logging
  supervisor/pkg/job/job_watcher.go
Owners: @Darkness4

fix(supervisor): sanitize job body, do not parse response
  supervisor/mocks/JobScheduler.go
  supervisor/pkg/job/job_types.go
  supervisor/pkg/job/job_watcher.go
  supervisor/pkg/slurm/slurm.go
Owners: @Darkness4

fix(supervisor): fix unit tests
  supervisor/pkg/job/job_watcher_test.go
  supervisor/pkg/slurm/slurm_test.go
Owners: @Darkness4

fix(supervisor): move close to defer
  supervisor/pkg/job/job_watcher.go
Owners: @Darkness4

feat(ldap-connector): added
  ldap-connector/.gitignore
  ldap-connector/Dockerfile
  ldap-connector/cmd/main.go
  ldap-connector/config.yaml
  ldap-connector/config/config.go
  ldap-connector/gen/go/contracts/metascheduler/metascheduler.go
  ldap-connector/go.mod
  ldap-connector/go.sum
  ldap-connector/ldap/ldap_datasource.go
  ldap-connector/logger/logger.go
  ldap-connector/scripts/0.go.install-generators.sh
  ldap-connector/scripts/1.generate-eth.sh
  ldap-connector/staticcheck.conf
  ldap-connector/validate/validate.go
  ldap-connector/watcher/watcher.go
  supervisor/pkg/slurm/slurm.go
  supervisor/pkg/slurm/slurm_test.go
Owners: @Darkness4

fix(ldap-connector): avoid duplicates
  ldap-connector/.env
  ldap-connector/config.yaml
  ldap-connector/go.mod
  ldap-connector/go.sum
  ldap-connector/ldap/ldap_datasource.go
  ldap-connector/ldap/ldap_datasource_test.go
  ldap-connector/validate/validate.go
  supervisor/pkg/job/job_watcher.go
Owners: @Darkness4

fix(supervisor): ssqueue renamed to squeue
  supervisor/.env
  supervisor/cmd/main.go
  supervisor/go.mod
  supervisor/go.sum
  supervisor/pkg/slurm/slurm_integration_test.go
Owners: @Darkness4

chore(ldap-connector): create README
  ldap-connector/README.md
Owners: none

fix(ldap-connector): wrong path config
  ldap-connector/cmd/main.go
Owners: none

fix(ldap-connector): better logging
  ldap-connector/ldap/ldap_datasource.go
  ldap-connector/watcher/watcher.go
Owners: none

fix(supervisor): filter event to provider
  supervisor/mocks/JobMetaQueue.go
  supervisor/pkg/eth/eth_datasource.go
  supervisor/pkg/job/job_types.go
  supervisor/pkg/job/job_watcher.go
  supervisor/pkg/job/job_watcher_test.go
Owners: @Darkness4

fix(ldap-connector): healthcheck ldap before running loop
  ldap-connector/cmd/main.go
  ldap-connector/ldap/ldap_datasource.go
Owners: none

fix(ldap-connector): ignore error
  ldap-connector/ldap/ldap_datasource.go
Owners: none

fix(ldap-connector): use job-manager contract instead
  ldap-connector/.env
  ldap-connector/cmd/main.go
  ldap-connector/gen/go/contracts/jobmanager/jobmanager.go
  ldap-connector/gen/go/contracts/metascheduler/metascheduler.go
  ldap-connector/scripts/1.generate-eth.sh
  ldap-connector/watcher/watcher.go
Owners: none

fix(ldap-connector): ignroe error 20 for modify
  ldap-connector/ldap/ldap_datasource.go
Owners: none

fix(ldap-connector): do not crash the app if the user is invalid
  ldap-connector/ldap/ldap_datasource.go
Owners: none

fix(ldap-connector): moved validation to watcher instead
  ldap-connector/ldap/ldap_datasource.go
  ldap-connector/watcher/watcher.go
Owners: none

feat(ci): mount cache inside Dockerfile
  ldap-connector/Dockerfile
  supervisor/Dockerfile
Owners: @Darkness4

chore(jobcomp/spank): bump version
  provider-job-completion-plugin/cmake/package.cmake
  provider-spank-plugin/cmake/package.cmake
Owners: @Darkness4

chore(go): update eth code
  cli/gen/go/contracts/metascheduler/metascheduler.go
  ldap-connector/gen/go/contracts/jobmanager/jobmanager.go
  supervisor/gen/go/contracts/metascheduler/metascheduler.go
Owners: @Darkness4, @Lymnah

chore(README): added dependency tree
  README.md
Owners: none

fix(cli): add name generator to CLI
  README.md
  cli/cmd/submit/submit.go
  cli/go.mod
  cli/go.sum
  cli/pkg/eth/eth_datasource.go
Owners: @Darkness4, @Lymnah

feat(supervisor): sanitize user input and log at opt jobs logs
  supervisor/pkg/slurm/slurm.go
Owners: @Darkness4
