Repository deepsquare-io/grid, changes with the owners that CODEOWNERS names for each.
All owners: @Darkness4, @Lymnah, @efelem

docs: about mount namespace
  docs/workflow/03-guides/07-network-namespace.md
  docs/workflow/03-guides/08-mount-namespace.md
Owners: none

chore(docs): better title, how to use cache
  docs/workflow/03-guides/08-how-to-cache.md
  docs/workflow/03-guides/08-mount-namespace.md
Owners: none

fix(cli): take account of errs
  cli/internal/graphql/graphql_test.go
  cli/sbatch/sbatch.go
Owners: @Darkness4, @Lymnah

chore(docs): add title to examples
  docs/workflow/03-guides/08-how-to-cache.md
Owners: none

chore(docs): fix
  docs/workflow/10-guides/08-how-to-cache.md
Owners: none

chore(docs): add more details about virtual network
  docs/workflow/10-guides/102-connecting-interhost.md
Owners: none

feat(ci): discord notification
  .github/workflows/release-notification.yaml
Owners: @Darkness4

chore(ci): fix version
  .github/workflows/release-notification.yaml
Owners: @Darkness4

feat(cli): refactor use sort.Slice
  cli/metascheduler/metascheduler_providermanager.go
Owners: @Darkness4, @Lymnah

feat(supervisor): register even with benchmark disabled
  supervisor/main.go
  supervisor/pkg/benchmark/benchmark_store.go
  supervisor/pkg/benchmark/benchmark_store_test.go
Owners: @Darkness4

chore(bore): about secret
  docs/workflow/10-guides/101-connecting-bore.assets/image-20240108143148167.png
  docs/workflow/10-guides/101-connecting-bore.md
  docs/workflow/40-workflow-api-reference/02-job.md
Owners: none

chore(cli): add validate command
  cli/cmd/dps/main.go
  cli/cmd/submit/submit.go
  cli/cmd/validate/validate.go
Owners: @Darkness4, @Lymnah

chore(latest): add latest cli version
  latest
Owners: none

chore(cli): add one-shot install script
  cli/get-dps
Owners: @Darkness4, @Lymnah

chore(docs): add about install script
  docs/workflow/06-cli/02-getting-started.md
  docs/workflow/30-client-development/02-go.md
Owners: none

feat(cli): add generate private key
  cli/cmd/credit/credit.go
  cli/cmd/dps/main.go
  cli/cmd/job/job.go
  cli/cmd/provider/provider.go
  cli/cmd/submit/submit.go
  cli/internal/utils/utils.go
Owners: @Darkness4, @Lymnah

chore(cli): fix lint
  cli/internal/utils/utils.go
Owners: @Darkness4, @Lymnah

fix(sbatch-service): avoid enroot conf conflict
  sbatch-service/fixtures/cs2.txt
  sbatch-service/fixtures/map-uid.pasta.txt
  sbatch-service/fixtures/map-uid.txt
  sbatch-service/renderer/renderer_enroot_command.sh.tpl
  sbatch-service/renderer/renderer_enroot_command_test.go
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run_test.go
  sbatch-service/renderer/renderer_step_test.go
  sbatch-service/renderer/renderer_step_use_test.go
Owners: none

chore(go): update dependencies
  cli/go.mod
  cli/go.sum
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/go.mod
  ldap-connector/go.sum
  provider-ssh-authorized-keys/go.mod
  provider-ssh-authorized-keys/go.sum
  sbatch-service/go.mod
  sbatch-service/go.sum
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4, @Lymnah

feat(sbatch-service): allow empty command, defaults to entrypoint
  sbatch-service/renderer/renderer_apptainer_command.sh.tpl
  sbatch-service/renderer/renderer_enroot_command.sh.tpl
Owners: none

docs: about executing the entrypoint
  docs/workflow/001-learn/02-running-on-dps.md
  docs/workflow/40-workflow-api-reference/02-job.md
Owners: none

feat(sbatch): allow custom entrypoint and custom command
  cli/cmd/initc/job.schema.json
  cli/sbatch/models_gen.go
  cli/tui/editor/job.schema.json
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/cs2.txt
  sbatch-service/fixtures/map-uid.pasta.txt
  sbatch-service/fixtures/map-uid.txt
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/test.yaml
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/go.mod
  sbatch-service/go.sum
  sbatch-service/graph/generated.go
  sbatch-service/graph/model/models_gen.go
  sbatch-service/graph/schema.resolvers.go
  sbatch-service/renderer/funcs.go
  sbatch-service/renderer/renderer_apptainer_command.sh.tpl
  sbatch-service/renderer/renderer_apptainer_command_test.go
  sbatch-service/renderer/renderer_enroot_command.sh.tpl
  sbatch-service/renderer/renderer_enroot_command_test.go
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
  sbatch-service/renderer/renderer_step_test.go
  sbatch-service/renderer/renderer_step_use_test.go
Owners: @Darkness4, @Lymnah

chore(sbatch): remove unused
  sbatch-service/fixtures/test.yaml
Owners: none

feat(sbatch): add compile time container image check
  sbatch-service/renderer/renderer_step_run.go
  sbatch-service/utils/pointer.go
  sbatch-service/validate/container_image_url.go
  sbatch-service/validate/container_image_url_test.go
Owners: none

chore(docs): update schema
  docs/schemas/job.schema.json
  docs/workflow/40-workflow-api-reference/02-job.md
  docs/workflow/40-workflow-api-reference/02-job.track
Owners: @Darkness4

feat(dps): add prompt on init too
  cli/cmd/initc/initc.go
  cli/internal/utils/utils.go
Owners: @Darkness4, @Lymnah

chore(docs): about private key setup
  docs/workflow/06-cli/02-getting-started.md
Owners: none

chore(docs): about credits
  docs/workflow/06-cli/02-getting-started.md
Owners: none

fix(sbatch): fix test
  sbatch-service/fixtures/map-uid.pasta.txt
  sbatch-service/fixtures/map-uid.pasta.yaml
  sbatch-service/fixtures/map-uid.txt
Owners: none

fix(sbatch): fix severe "Invalid generic resource (gres) specification"
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/cs2.txt
  sbatch-service/fixtures/map-uid.pasta.txt
  sbatch-service/fixtures/map-uid.txt
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/fixtures/virtual-networks.txt
  sbatch-service/renderer/renderer_job.sh.tpl
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
  sbatch-service/renderer/renderer_step_test.go
  sbatch-service/renderer/renderer_step_use_test.go
Owners: none

fix(sbatch): fix map uid test
  sbatch-service/fixtures/map-uid.txt
Owners: none

fix(cli): fix install script
  cli/get-dps
Owners: @Darkness4, @Lymnah

chore(docs): update docusaurus
  docs/package.json
  docs/pnpm-lock.yaml
  docs/workflow/10-guides/01-module-development/02-create.md
Owners: none

fix(sbatch): don't use memfs, use tmp
  sbatch-service/module/module_resolver.go
Owners: none

chore(docs): add more precision about the "learn" part
  docs/workflow/000-overview.mdx
  docs/workflow/001-learn/01-introduction.md
  docs/workflow/001-learn/02-running-on-dps.md
  docs/workflow/001-learn/03-architecture.md
  docs/workflow/001-learn/04-core-concepts.assets/1280px-IBM_Blue_Gene_P_supercomputer.jpg
  docs/workflow/001-learn/04-core-concepts.md
  docs/workflow/001-learn/05-storage-layout.md
  docs/workflow/001-learn/06-providers-labels.md
  docs/workflow/001-learn/07-credits-token.assets/image-20240111155434458.png
  docs/workflow/001-learn/07-credits-token.assets/image-20240111155657560.png
  docs/workflow/001-learn/07-credits-token.assets/image-20240111160436642.e.png
  docs/workflow/001-learn/07-credits-token.md
Owners: none

feat(docs): add quick start
  docs/.vscode/settings.json
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/css/custom.css
  docs/src/theme/Root.js
  docs/workflow/000-overview.mdx
  docs/workflow/000-quick-start.assets/image-20240111185515478.png
  docs/workflow/000-quick-start.assets/image-20240111190120949.png
  docs/workflow/000-quick-start.assets/image-20240111190436467.png
  docs/workflow/000-quick-start.assets/image-20240111191135087.png
  docs/workflow/000-quick-start.assets/image-20240111191215557.png
  docs/workflow/000-quick-start.assets/image-20240111191334343.png
  docs/workflow/000-quick-start.assets/image-20240111191723873.png
  docs/workflow/000-quick-start.md
  docs/workflow/001-learn/04-core-concepts.md
  docs/workflow/02-getting-started/introduction.md
  docs/workflow/02-getting-started/part-2-openmpi.md
  docs/workflow/02-getting-started/part-3-storage.md
  docs/workflow/02-getting-started/part-5-ml-example.mdx
  docs/workflow/10-guides/00-overview.md
  docs/workflow/image.png
Owners: none

chore(docs): add title
  docs/workflow/000-quick-start.md
Owners: none

fix(docs): make clickable title
  docs/src/css/custom.css
Owners: none

fix(docs): change header title size
  docs/src/css/custom.css
Owners: none

chore(docs): make infrastructure documentation a little more welcoming
  docs/deepsquare-grid/000-overview.mdx
  docs/docusaurus.config.js
Owners: none

CODEOWNERS:

# CI/CD
.github/ @Darkness4
docker/ @Darkness4

# Contracts
smart-contracts/ @Lymnah @Darkness4 @efelem
protos/ @Darkness4 @efelem @Lymnah
schemas/ @Darkness4

# Customer side
cli/ @Darkness4 @Lymnah

# Microservices
sbatch-services/ @Darkness4
avalanche-subnet/ @efelem
meta-scheduler/ @Darkness4 @efelem @Lymnah

# Cluster-side
provider-job-completion-plugin/ @Darkness4
provider-spank-plugin/ @Darkness4
provider-ssh-authorized-keys/ @Darkness4
supervisor/ @Darkness4
