Repository deepsquare-io/grid, changes with the owners that CODEOWNERS names for each.
All owners: @Darkness4, @Lymnah, @efelem, @valentinpollart

CODEOWNERS:

# CI/CD
.github/ @Darkness4
docker/ @Darkness4

# Contracts
smart-contracts/ @Lymnah @Darkness4 @efelem
protos/ @Darkness4 @efelem @Lymnah

# Customer side
customer-portal/ @valentinpollart @Lymnah
customer-api/ @efelem @Darkness4
cli/ @Darkness4 @Lymnah

# Web3
avalanche-subnet/ @efelem
oracle-scheduler/ @efelem @Lymnah

# Cluster-side
provider-job-completion-plugin/ @Darkness4
provider-spank-plugin/ @Darkness4
provider-ssh-authorized-keys/ @Darkness4
supervisor/ @Darkness4

refactor(jobcomp): use switch case instead of if else
  provider-job-completion-plugin/src/job_api.cc
Owners: @Darkness4

chore(smart-contracts): smart-contract-5e5e6412a6318155ddb7e577f25b58164a0df2f1
  cli/gen/go/contracts/metascheduler/metascheduler.go
  supervisor/gen/go/contracts/metascheduler/metascheduler.go
Owners: @Darkness4, @Lymnah

fix(ldap-connector): somehow code was not generated
  ldap-connector/gen/go/contracts/jobmanager/jobmanager.go
Owners: none

fix(supervisor): add line break
  supervisor/pkg/slurm/slurm.go
Owners: @Darkness4

fix(supervisor): fix log condition
  supervisor/pkg/job/job_watcher.go
Owners: @Darkness4

fix(smart-contract): claim cancelled job (#75)
  cli/gen/go/contracts/metascheduler/metascheduler.go
  ldap-connector/gen/go/contracts/jobmanager/jobmanager.go
  supervisor/gen/go/contracts/metascheduler/metascheduler.go
  supervisor/mocks/JobMetaQueue.go
  supervisor/mocks/MetaSchedulerRPC.go
  supervisor/mocks/MetaSchedulerWS.go
  supervisor/pkg/eth/eth_datasource.go
  supervisor/pkg/eth/eth_datasource_test.go
  supervisor/pkg/eth/eth_types.go
  supervisor/pkg/job/job_types.go
  supervisor/pkg/job/job_watcher.go
  supervisor/pkg/job/job_watcher_test.go
Owners: @Darkness4, @Lymnah

chore(smart-contracts): smart-contract-cd70ae1c121ad1e9c81b7246c3e500f88a8d8890
  cli/gen/go/contracts/metascheduler/metascheduler.go
  supervisor/gen/go/contracts/metascheduler/metascheduler.go
Owners: @Darkness4, @Lymnah

chore(supervisor): add log
  supervisor/pkg/eth/eth_datasource.go
  supervisor/pkg/job/job_watcher.go
Owners: @Darkness4

fix(smart-contracts): quick test error message
  supervisor/pkg/eth/eth_datasource.go
Owners: @Darkness4

feat(supervisor): added new hasnextjob
  cli/gen/go/contracts/metascheduler/metascheduler.go
  ldap-connector/gen/go/contracts/jobmanager/jobmanager.go
  supervisor/gen/go/contracts/metascheduler/metascheduler.go
  supervisor/mocks/MetaSchedulerRPC.go
  supervisor/pkg/eth/eth_datasource.go
  supervisor/pkg/eth/eth_datasource_test.go
  supervisor/pkg/eth/eth_types.go
Owners: @Darkness4, @Lymnah

fix(supervisor): force CANCELLED state after many retry
  supervisor/go.mod
  supervisor/go.sum
  supervisor/pkg/customer/customer.go
  supervisor/pkg/job/job_watcher.go
  supervisor/pkg/server/jobapi/jobapi.go
  supervisor/pkg/server/server.go
Owners: @Darkness4

fix(supervisor): retry set job status in case of bad nonce
  supervisor/pkg/server/jobapi/jobapi.go
Owners: @Darkness4

feat(grid-logger): added POC
  grid-logger/.gitignore
  grid-logger/Makefile
  grid-logger/client/main.go
  grid-logger/gen/go/logger/v1alpha1/log.pb.go
  grid-logger/gen/go/logger/v1alpha1/log_grpc.pb.go
  grid-logger/go.mod
  grid-logger/go.sum
  grid-logger/job.sh
  grid-logger/logger/logger.go
  grid-logger/scripts/1.generate-grpc.sh
  grid-logger/server/api/server.go
  grid-logger/server/main.go
  grid-logger/tools/tools.go
Owners: none

fix(grid-logger): better job template
  grid-logger/job.sh
Owners: none

feat(grid-logger): added CI
  grid-logger/Makefile
  grid-logger/client/main.go
  grid-logger/job.sh
Owners: none

fix(grid-logger): bins declared at top
  grid-logger/Makefile
Owners: none

feat(grid-logger): added reader for the example
  grid-logger/.gitignore
  grid-logger/Makefile
  grid-logger/gen/go/logger/v1alpha1/log.pb.go
  grid-logger/go.mod
  grid-logger/go.sum
  grid-logger/job.sh
  grid-logger/logger/logger.go
  grid-logger/reader/main.go
  grid-logger/scripts/1.generate-grpc.sh
  grid-logger/server/api/server.go
  grid-logger/server/db/file.go
  grid-logger/server/main.go
  grid-logger/writer/main.go
Owners: none

refactor(supervisor): dont need to cast public key
  supervisor/pkg/eth/eth_datasource.go
Owners: @Darkness4

feat(grid-logger): added web3 authentication
  grid-logger/.gitignore
  grid-logger/.reader.env
  grid-logger/.server.env
  grid-logger/gen/go/auth/v1alpha1/auth.pb.go
  grid-logger/gen/go/auth/v1alpha1/auth_grpc.pb.go
  grid-logger/go.mod
  grid-logger/go.sum
  grid-logger/job.sh
  grid-logger/reader/api/client.go
  grid-logger/reader/eth/sign.go
  grid-logger/reader/main.go
  grid-logger/server/api/auth.go
  grid-logger/server/api/logger.go
  grid-logger/server/auth/authenticate.go
  grid-logger/server/auth/interceptor.go
  grid-logger/server/auth/jwt.go
  grid-logger/server/auth/nonce.go
  grid-logger/server/auth/storage.go
  grid-logger/server/main.go
  grid-logger/writer/main.go
Owners: none

feat(grid-logger): added debug mode
  grid-logger/.reader.env
  grid-logger/.server.env
  grid-logger/logger/logger.go
  grid-logger/reader/main.go
  grid-logger/server/api/logger.go
  grid-logger/server/main.go
  grid-logger/writer/main.go
Owners: none

fix(grid-logger): use middleware to inject user
  grid-logger/gen/go/auth/v1alpha1/auth.pb.go
  grid-logger/gen/go/logger/v1alpha1/log.pb.go
  grid-logger/go.mod
  grid-logger/go.sum
  grid-logger/reader/api/client.go
  grid-logger/server/api/logger.go
  grid-logger/server/auth/interceptor.go
  grid-logger/server/auth/types.go
Owners: none

refactor(grid-logger): added registerOrSignin
  grid-logger/reader/api/client.go
  grid-logger/reader/main.go
Owners: none

feat(grid-logger): fully POC
  grid-logger/.dockerignore
  grid-logger/Dockerfile
  grid-logger/docker-compose.yaml
  grid-logger/envoy.yaml
  grid-logger/gen/go/auth/v1alpha1/auth.pb.go
  grid-logger/reader/api/client.go
  grid-logger/reader/main.go
  grid-logger/server/api/auth.go
  grid-logger/server/auth/authenticate.go
  grid-logger/web-client/.eslintignore
  grid-logger/web-client/.eslintrc.cjs
  grid-logger/web-client/.gitignore
  grid-logger/web-client/.npmrc
  grid-logger/web-client/.prettierignore
  grid-logger/web-client/.prettierrc
  grid-logger/web-client/README.md
  grid-logger/web-client/gen/ts/auth/v1alpha1/auth.client.ts
  grid-logger/web-client/gen/ts/auth/v1alpha1/auth.ts
  grid-logger/web-client/gen/ts/logger/v1alpha1/log.client.ts
  grid-logger/web-client/gen/ts/logger/v1alpha1/log.ts
  grid-logger/web-client/package.json
  grid-logger/web-client/playwright.config.ts
  grid-logger/web-client/pnpm-lock.yaml
  grid-logger/web-client/src/app.d.ts
  grid-logger/web-client/src/app.html
  grid-logger/web-client/src/app.scss
  grid-logger/web-client/src/index.test.ts
  grid-logger/web-client/src/lib/services/grpc.ts
  grid-logger/web-client/src/lib/stores/jwt.ts
  grid-logger/web-client/src/routes/+layout.svelte
  grid-logger/web-client/src/routes/+page.svelte
  grid-logger/web-client/static/favicon.png
  grid-logger/web-client/svelte.config.js
  grid-logger/web-client/tests/test.ts
  grid-logger/web-client/tsconfig.json
  grid-logger/web-client/vite.config.js
Owners: none

chore(grid-logger): added README
  grid-logger/README.md
Owners: none

chore(grid-logger): updated diagram
  grid-logger/README.md
Owners: none

feat(grid-logger): styling
  grid-logger/server/auth/nonce.go
  grid-logger/web-client/.prettierrc
  grid-logger/web-client/package.json
  grid-logger/web-client/pnpm-lock.yaml
  grid-logger/web-client/src/app.scss
  grid-logger/web-client/src/routes/+page.svelte
Owners: none

feat(grid-logger): do not use jwt, just send signed messages
  grid-logger/gen/go/auth/v1alpha1/auth.pb.go
  grid-logger/gen/go/auth/v1alpha1/auth_grpc.pb.go
  grid-logger/gen/go/logger/v1alpha1/log.pb.go
  grid-logger/reader/api/client.go
  grid-logger/reader/eth/sign.go
  grid-logger/reader/main.go
  grid-logger/server/api/auth.go
  grid-logger/server/api/logger.go
  grid-logger/server/auth/authenticate.go
  grid-logger/server/auth/interceptor.go
  grid-logger/server/auth/jwt.go
  grid-logger/server/auth/nonce.go
  grid-logger/server/auth/storage.go
  grid-logger/server/auth/types.go
  grid-logger/server/db/file.go
  grid-logger/server/main.go
  grid-logger/web-client/gen/ts/auth/v1alpha1/auth.client.ts
  grid-logger/web-client/gen/ts/auth/v1alpha1/auth.ts
  grid-logger/web-client/gen/ts/logger/v1alpha1/log.ts
  grid-logger/web-client/src/lib/services/grpc.ts
  grid-logger/web-client/src/lib/stores/jwt.ts
  grid-logger/web-client/src/routes/+page.svelte
Owners: none

feat(grid-logger): list and watch
  grid-logger/README.md
  grid-logger/gen/go/logger/v1alpha1/log.pb.go
  grid-logger/gen/go/logger/v1alpha1/log_grpc.pb.go
  grid-logger/reader/api/client.go
  grid-logger/reader/main.go
  grid-logger/server/api/logger.go
  grid-logger/server/db/file.go
  grid-logger/web-client/gen/ts/logger/v1alpha1/log.client.ts
  grid-logger/web-client/gen/ts/logger/v1alpha1/log.ts
  grid-logger/web-client/src/lib/services/grpc.ts
  grid-logger/web-client/src/routes/+page.svelte
Owners: none

fix(grid-logger): fixing lifecycle issues
  grid-logger/server/api/logger.go
  grid-logger/web-client/src/app.scss
  grid-logger/web-client/src/routes/+page.svelte
  grid-logger/writer/main.go
Owners: none

feat(ci): prepare for release grid-logger
  grid-logger/Makefile
  grid-logger/README.md
  provider-ssh-authorized-keys/.gitignore
  provider-ssh-authorized-keys/Dockerfile
  provider-ssh-authorized-keys/Dockerfile.login
  provider-ssh-authorized-keys/Makefile
  provider-ssh-authorized-keys/scripts/999.build-all.sh
Owners: @Darkness4

feat(graph): added schemas
  sbatch-service/Makefile
  sbatch-service/go.mod
  sbatch-service/go.sum
  sbatch-service/gqlgen.yml
  sbatch-service/graph/generated.go
  sbatch-service/graph/model/models_gen.go
  sbatch-service/graph/resolver.go
  sbatch-service/graph/schema.resolvers.go
  sbatch-service/server.go
  sbatch-service/tools/tools.go
  supervisor/cmd/main.go
  supervisor/gen/go/customer/v1alpha1/customer.pb.go
  supervisor/gen/go/customer/v1alpha1/customer_grpc.pb.go
  supervisor/mocks/JobAPIServer.go
  supervisor/pkg/customer/customer.go
  supervisor/pkg/sbatchapi/customer_fake.go
Owners: @Darkness4

fix(grid-logger): add health check
  grid-logger/.reader.env
  grid-logger/gen/go/grpc/health/v1/health.pb.go
  grid-logger/gen/go/grpc/health/v1/health_grpc.pb.go
  grid-logger/server/api/health/health.go
  grid-logger/server/main.go
Owners: none

fix(protos): added missing files
  grid-logger/web-client/gen/ts/grpc/health/v1/health.client.ts
  grid-logger/web-client/gen/ts/grpc/health/v1/health.ts
Owners: none

fix(grid-logger): remove unused JWT
  grid-logger/.server.env
  grid-logger/go.mod
  grid-logger/go.sum
  grid-logger/server/main.go
Owners: none

fix(grid-logger): remove unused variable
  grid-logger/server/main.go
Owners: none

chore(grid-logger): updated job script
  grid-logger/.reader.env
  grid-logger/.reader.env.prod
  grid-logger/.server.env
  grid-logger/job.prod.sh
Owners: none

feat(sbatch-service): added render StepRun
  sbatch-service/Makefile
  sbatch-service/go.mod
  sbatch-service/go.sum
  sbatch-service/gqlgen.yml
  sbatch-service/graph/generated.go
  sbatch-service/graph/model/models.go
  sbatch-service/graph/resolver.go
  sbatch-service/graph/schema.resolvers.go
  sbatch-service/logger/logger.go
  sbatch-service/renderer/renderer.go
  sbatch-service/renderer/renderer_test.go
  sbatch-service/renderer/step.sh.tpl
  sbatch-service/server.go
  sbatch-service/template/funcs.go
  sbatch-service/utils/pointer.go
  sbatch-service/validate/container_image_url.go
  sbatch-service/validate/container_image_url_test.go
  sbatch-service/validate/validate.go
Owners: none

feat(sbatch-service): render for loops
  sbatch-service/graph/model/models.go
  sbatch-service/renderer/funcs.go
  sbatch-service/renderer/renderer.go
  sbatch-service/renderer/renderer_test.go
  sbatch-service/renderer/step.sh.tpl
Owners: none

feat(sbatch-service): test with shellcheck
  sbatch-service/renderer/renderer_test.go
Owners: none

feat(ci): added sbatch service CI
  sbatch-service/.gitignore
  sbatch-service/Dockerfile
  sbatch-service/Makefile
  sbatch-service/server.go
Owners: none
