Repository deepsquare-io/grid, changes with the owners that CODEOWNERS names for each.
All owners: @Darkness4, @Lymnah, @efelem, @valentinpollart

CODEOWNERS:

# CI/CD
.github/ @Darkness4
docker/ @Darkness4

# Contracts
smart-contracts/ @Lymnah @Darkness4 @efelem
protos/ @Darkness4 @efelem @Lymnah
schemas/ @Darkness4 @valentinpollart

# Customer side
customer-portal/ @valentinpollart @Lymnah
cli/ @Darkness4 @Lymnah

# Microservices
sbatch-services/ @Darkness4
avalanche-subnet/ @efelem
oracle-scheduler/ @efelem @Lymnah

# Cluster-side
provider-job-completion-plugin/ @Darkness4
provider-spank-plugin/ @Darkness4
provider-ssh-authorized-keys/ @Darkness4
supervisor/ @Darkness4

fix(sbatch-service): add silent to zip
  sbatch-service/renderer/renderer_job.sh.tpl
Owners: none

feat(sbatch-service): support apptainer container runtime (#133)
  sbatch-service/Dockerfile
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/blender-batch-job.yaml
  sbatch-service/fixtures/fixtures_test.go
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/tdp.yaml
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/upscale.yaml
  sbatch-service/fixtures/urs.txt
  sbatch-service/fixtures/urs.yaml
  sbatch-service/graph/generated.go
  sbatch-service/graph/model/models.go
  sbatch-service/graph/model/models_test.go
  sbatch-service/graph/schema.resolvers.go
  sbatch-service/renderer/funcs.go
  sbatch-service/renderer/funcs_test.go
  sbatch-service/renderer/renderer_job.sh.tpl
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_shellcheck.go
  sbatch-service/renderer/renderer_shellcheck_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
  sbatch-service/renderer/renderer_step_test.go
  sbatch-service/utils/generate_random_string.go
  sbatch-service/validate/container_image_url.go
  sbatch-service/validate/container_image_url_test.go
  sbatch-service/validate/format.go
Owners: none

fix(sbatch-service): add env prefix
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
Owners: none

fix(sbatch-service): fix loadDeepsquareEnv
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_job.sh.tpl
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
  sbatch-service/renderer/renderer_step_test.go
Owners: none

fix(sbatch-service): fix loadDeepsquareEnv
  sbatch-service/renderer/renderer_job.sh.tpl
Owners: none

fix(sbatch-service): fix unit test
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_job_test.go
Owners: none

fix(sbatch-service): specify mem unit
  sbatch-service/renderer/renderer_step_run.sh.tpl
Owners: none

fix(grid-logger): try to handle weird logger states
  grid-logger/server/api/logger.go
  grid-logger/server/db/file.go
  grid-logger/writer/main.go
Owners: none

fix(meta-scheduler): generate elsewhere
  ldap-connector/gen/go/contracts/jobmanager/jobmanager.go
Owners: none

feat(sbatch-service): permit mounts on the container
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/stable-diffusion.yaml
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/graph/generated.go
  sbatch-service/graph/model/models.go
  sbatch-service/graph/model/models_test.go
  sbatch-service/graph/schema.resolvers.go
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
  sbatch-service/renderer/renderer_step_test.go
Owners: none

fix(sbatch-service): avoid double encoding
  sbatch-service/renderer/renderer_job.sh.tpl
Owners: none

fix(sbatch-script): fix unit test
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_job.sh.tpl
  sbatch-service/renderer/renderer_job_test.go
Owners: none

fix(sbatch-service): fix unit test remove space
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_job_test.go
Owners: none

fix(customer-portal): fix space for upscaling
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/upscale.yaml
Owners: none

fix(sbatch-service): env removed for apptainer
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/stable-diffusion.yaml
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
Owners: none

chore(go): updated dependencies
  grid-logger/Dockerfile
  grid-logger/docker-compose.yaml
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/Dockerfile
  ldap-connector/go.mod
  ldap-connector/go.sum
  sbatch-service/Dockerfile
  sbatch-service/go.mod
  sbatch-service/go.sum
  supervisor/Dockerfile
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4

chore(sbatch-service): bump major redis to v9
  sbatch-service/go.mod
  sbatch-service/go.sum
  sbatch-service/graph/resolver.go
  sbatch-service/graph/schema.resolvers.go
  sbatch-service/grpc/sbatch/sbatch.go
  sbatch-service/server.go
Owners: none

chore(provider-ssh-authorized-keys): bump deps
  provider-ssh-authorized-keys/go.mod
  provider-ssh-authorized-keys/go.sum
Owners: @Darkness4

fix(sbatch-service): silent apptainer logs
  sbatch-service/renderer/renderer_step_run.sh.tpl
Owners: none

fix(sbatch-service): fix unit test
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_step_run_test.go
Owners: none

fix(sbatch-service): silent flag fix
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
Owners: none

fix(sbatch-service): fix unit test
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
Owners: none

feat(smart-contracts): new smart contracts (#171)
  ldap-connector/scripts/1.generate-eth.sh
Owners: none

fix(sbatch-service): move env variables
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
  sbatch-service/renderer/renderer_step_test.go
Owners: none

fix(sbatch-service): fix env variable declaration
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
  sbatch-service/renderer/renderer_step_test.go
Owners: none

test(sbatch-service): env var name validator test
  sbatch-service/validate/environment_variable.go
  sbatch-service/validate/environnement_variable_test.go
Owners: none

fix(sbatch-service): unit test stable diffusion
  sbatch-service/fixtures/fixtures_test.go
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/stable-diffusion.yaml
Owners: none

fix(sbatch-service): fix unit test
  sbatch-service/fixtures/stable-diffusion.txt
Owners: none

fix(docs): deploy placeholder docs
  docs/.gitignore
  docs/LICENSE
  docs/README.md
  docs/babel.config.js
  docs/docs/placeholder/01-placeholder.md
  docs/docs/placeholder/_category_.json
  docs/docusaurus.config.js
  docs/package.json
  docs/pnpm-lock.yaml
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/src/pages/markdown-page.md
  docs/static/.nojekyll
  docs/static/CNAME
  docs/static/img/logo.png
  docs/tsconfig.json
Owners: none

fix(ci): just add lorem ipsum to start ci
  docs/docs/placeholder/01-placeholder.md
Owners: none

fix(supervisor): handles state machine
  supervisor/pkg/eth/eth_job_status.go
  supervisor/pkg/job/job_watcher.go
  supervisor/pkg/job/job_watcher_test.go
  supervisor/pkg/server/jobapi/jobapi.go
Owners: @Darkness4

fix(docs): fix edit url
  docs/docusaurus.config.js
Owners: none

feat(docs): initial commit
  docs/docs/01-Introduction/01-overview.md
  docs/docs/01-Introduction/02-core_concepts.md
  docs/docs/01-Introduction/_category_.json
  docs/docs/02-deepsquare_portal/01-placeholder.md
  docs/docs/02-deepsquare_portal/02-placeholder2.md
  docs/docs/02-deepsquare_portal/03-placeholder3.md
  docs/docs/02-deepsquare_portal/_category_.json
  docs/docs/03-deepsquare_grid/00-overview.md
  docs/docs/03-deepsquare_grid/10-join_the_grid/11-requirements.md
  docs/docs/03-deepsquare_grid/10-join_the_grid/20-clusterfactory.md
  docs/docs/03-deepsquare_grid/10-join_the_grid/30-blueprint_clusters.md
  docs/docs/03-deepsquare_grid/10-join_the_grid/_category_.json
  docs/docs/03-deepsquare_grid/_category_.json
  docs/docs/04-blockchain_middleware/_category_.json
  docs/docs/05-Build_on_DPS/01-overview.md
  docs/docs/05-Build_on_DPS/02-getting_started.md
  docs/docs/05-Build_on_DPS/03-workflow_files.md
  docs/docs/05-Build_on_DPS/04-sdk.md
  docs/docs/05-Build_on_DPS/_category_.json
  docs/docs/placeholder/01-placeholder.md
  docs/docusaurus.config.js
  docs/package.json
  docs/src/pages/index.tsx
Owners: none

fix(sbatch-service): pass logger as env variable
  sbatch-service/.env
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/fixtures_test.go
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/go.mod
  sbatch-service/go.sum
  sbatch-service/graph/resolver.go
  sbatch-service/graph/schema.resolvers.go
  sbatch-service/renderer/renderer_job.go
  sbatch-service/renderer/renderer_job.sh.tpl
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/server.go
Owners: none

fix(supervisor): ignore error "cannot change status to itself"
  supervisor/pkg/server/jobapi/jobapi.go
Owners: @Darkness4

chore(docs): bump dependencies react
  docs/docs/01-introduction/01-overview.md
  docs/docs/01-introduction/02-core-concepts.md
  docs/docs/01-introduction/_category_.json
  docs/docs/02-deepsquare-portal/01-placeholder.md
  docs/docs/02-deepsquare-portal/02-placeholder2.md
  docs/docs/02-deepsquare-portal/03-placeholder3.md
  docs/docs/02-deepsquare-portal/_category_.json
  docs/docs/03-deepsquare-grid/00-overview.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/11-requirements.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/20-clusterfactory.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/30-blueprint_clusters.md
  docs/docs/03-deepsquare-grid/10-join-the-grid/_category_.json
  docs/docs/03-deepsquare-grid/_category_.json
  docs/docs/04-blockchain-middleware/_category_.json
  docs/docs/05-Build-on-DPS/01-overview.md
  docs/docs/05-Build-on-DPS/02-getting-started.md
  docs/docs/05-Build-on-DPS/03-workflow-files.md
  docs/docs/05-Build-on-DPS/04-sdk.md
  docs/docs/05-Build-on-DPS/_category_.json
  docs/package.json
  docs/pnpm-lock.yaml
Owners: none

chore(go): update dependencies
  cli/go.mod
  cli/go.sum
  grid-logger/Dockerfile
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/Dockerfile
  ldap-connector/go.mod
  ldap-connector/go.sum
  provider-ssh-authorized-keys/go.mod
  provider-ssh-authorized-keys/go.sum
  sbatch-service/Dockerfile
  supervisor/Dockerfile
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4, @Lymnah

chore(smart-contracts-exporter): bootstrap
  smart-contracts-exporter/.gitignore
  smart-contracts-exporter/cmd/root.go
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  smart-contracts-exporter/inputs/real_time.go
  smart-contracts-exporter/main.go
Owners: none

feat(exporter): add ethereum
  smart-contracts-exporter/gen/go/contracts/metascheduler/metascheduler.go
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  smart-contracts-exporter/scripts/0.go.install-generators.sh
  smart-contracts-exporter/scripts/1.generate-eth.sh
  smart-contracts-exporter/tools/tools.go
Owners: none

feat(sbatch-service): added job gateway (#222)
  sbatch-service/Makefile
  sbatch-service/cmd/render.go
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/fixtures_test.go
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/fixtures/minecraft.yaml
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/graph/generated.go
  sbatch-service/graph/model/models.go
  sbatch-service/graph/model/models_test.go
  sbatch-service/pod.yaml
  sbatch-service/renderer/funcs.go
  sbatch-service/renderer/renderer_apptainer_command.go
  sbatch-service/renderer/renderer_apptainer_command.sh.tpl
  sbatch-service/renderer/renderer_apptainer_command_test.go
  sbatch-service/renderer/renderer_enroot_command.go
  sbatch-service/renderer/renderer_enroot_command.sh.tpl
  sbatch-service/renderer/renderer_job.sh.tpl
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_slirp4netns.go
  sbatch-service/renderer/renderer_slirp4netns.sh.tpl
  sbatch-service/renderer/renderer_slirp4netns_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
  sbatch-service/renderer/renderer_step_test.go
  sbatch-service/renderer/renderer_wireguard.go
  sbatch-service/renderer/renderer_wireguard.sh.tpl
  sbatch-service/renderer/renderer_wireguard_test.go
  sbatch-service/server.go
  sbatch-service/validate/format.go
Owners: none
