Repository deepsquare-io/grid, changes with the owners that CODEOWNERS names for each.
All owners: @Darkness4, @Lymnah, @efelem, @valentinpollart

fix(sbatch-service): pwd default to /deepsquare for containers
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_apptainer_command.sh.tpl
  sbatch-service/renderer/renderer_apptainer_command_test.go
  sbatch-service/renderer/renderer_enroot_command.sh.tpl
  sbatch-service/renderer/renderer_enroot_command_test.go
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
  sbatch-service/renderer/renderer_step_test.go
Owners: none

docs(deploy-deepsquare): added paths in reference
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/02-job.md
  docs/schemas/job.schema.json
Owners: @Darkness4, @valentinpollart

refactor(sbatch-service): remove unused cd
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/renderer/renderer_job.sh.tpl
  sbatch-service/renderer/renderer_job_test.go
Owners: none

feat(grid-logger): better cleanup
  grid-logger/job.sh
  grid-logger/writer/main.go
Owners: none

Update 01-overview.md
  docs/docs/01-introduction/01-overview.md
Owners: none

Update 02-core-concepts.md
  docs/docs/01-introduction/02-core-concepts.md
Owners: none

Update 02-core-concepts.md
  docs/docs/01-introduction/02-core-concepts.md
Owners: none

Update 02-core-concepts.md
  docs/docs/01-introduction/02-core-concepts.md
Owners: none

Update 02-core-concepts.md
  docs/docs/01-introduction/02-core-concepts.md
Owners: none

Update and rename 01-placeholder.md to Overview.md
  docs/docs/02-deepsquare-portal/01-placeholder.md
  docs/docs/02-deepsquare-portal/Overview.md
Owners: none

Delete 02-placeholder2.md
  docs/docs/02-deepsquare-portal/02-placeholder2.md
Owners: none

Delete 03-placeholder3.md
  docs/docs/02-deepsquare-portal/03-placeholder3.md
Owners: none

fix(sbatch-service): remove tar verbosity
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_job.sh.tpl
  sbatch-service/renderer/renderer_job_test.go
Owners: none

chore(sbatch-service): enroot import to dev null
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
  sbatch-service/renderer/renderer_step_test.go
Owners: none

refactor(grid-logger): do not use global variable
  grid-logger/writer/main.go
Owners: none

fix(sbatch): fix error format print
  sbatch-service/validate/format.go
Owners: none

docs(deploy-deepsquare): getting started done
  docs/docs/05-deploy-deepsquare/02-getting-started/part-2.assets/image-20230309130529222.png
  docs/docs/05-deploy-deepsquare/02-getting-started/part-2.md
  docs/docs/05-deploy-deepsquare/02-getting-started/part-3.assets/image-20230308175425478.png
  docs/docs/05-deploy-deepsquare/02-getting-started/part-3.assets/model.pt.svg
  docs/docs/05-deploy-deepsquare/02-getting-started/part-3.md
  docs/docs/05-deploy-deepsquare/02-getting-started/part-4.md
  docs/docs/05-deploy-deepsquare/02-getting-started/part-4.mdx
  docs/docs/05-deploy-deepsquare/03-guides/00-overview.md
  docs/docs/05-deploy-deepsquare/03-guides/01-container-runtimes.md
  docs/docs/05-deploy-deepsquare/03-guides/02-deepsquare-images.md
  docs/docs/05-deploy-deepsquare/03-guides/04-mounts.md
  docs/docs/05-deploy-deepsquare/03-guides/05-maproot.md
  docs/docs/05-deploy-deepsquare/03-guides/100-connecting-wireguard.md
  docs/docs/05-deploy-deepsquare/03-guides/101-logging.md
  docs/docs/05-deploy-deepsquare/03-guides/99-publishing-deepsquare.md
  docs/docs/05-deploy-deepsquare/04-client-development/00-overview.md
Owners: none

docs(deploy-deepsquare): fix phrasing
  docs/docs/05-deploy-deepsquare/02-getting-started/part-2.md
Owners: none

chore(sbatch-service): add log just before the wait mined
  supervisor/pkg/eth/eth_datasource.go
Owners: @Darkness4

feat(sbatch-service): async step added (#267)
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/02-job.md
  docs/schemas/job.schema.json
  sbatch-service/fixtures/async-await.yaml
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/fire-and-forget-clean.yaml
  sbatch-service/fixtures/fire-and-forget.yaml
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/go.mod
  sbatch-service/go.sum
  sbatch-service/graph/generated.go
  sbatch-service/graph/model/models.go
  sbatch-service/graph/model/models_test.go
  sbatch-service/graph/schema.resolvers.go
  sbatch-service/renderer/funcs.go
  sbatch-service/renderer/renderer_job.sh.tpl
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_step.sh.tpl
  sbatch-service/renderer/renderer_step_async_launch.go
  sbatch-service/renderer/renderer_step_async_launch.sh.tpl
  sbatch-service/renderer/renderer_step_async_launch_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_test.go
  sbatch-service/validate/alphanum_underscore.go
  sbatch-service/validate/alphanum_underscore_test.go
  sbatch-service/validate/format.go
  sbatch-service/validate/validate.go
Owners: @Darkness4, @valentinpollart

docs(deploy-deepsquare): guide container runtimes
  docs/docs/05-deploy-deepsquare/01-overview.md
  docs/docs/05-deploy-deepsquare/02-getting-started/part-1.md
  docs/docs/05-deploy-deepsquare/03-guides/01-container-runtimes.md
  docs/docs/05-deploy-deepsquare/03-guides/01-container-runtimes.mdx
Owners: none

docs(deploy-deepsquare): deepsquarehosted images, env variables, mounts, maproot
  docs/docs/05-deploy-deepsquare/03-guides/01-container-runtimes.mdx
  docs/docs/05-deploy-deepsquare/03-guides/02-deepsquare-images.md
  docs/docs/05-deploy-deepsquare/03-guides/03-environment-variables.md
  docs/docs/05-deploy-deepsquare/03-guides/04-mounts.md
  docs/docs/05-deploy-deepsquare/03-guides/05-maproot.md
  docs/docs/05-deploy-deepsquare/03-guides/101-logging.md
  docs/docs/05-deploy-deepsquare/03-guides/99-publishing-deepsquare.md
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/02-job.md
Owners: none

chore(supervisor): add goroutine debug
  supervisor/cmd/main.go
  supervisor/pkg/debug/goroutines.go
Owners: @Darkness4

feat(supervisor): try set job status with timeout
  supervisor/pkg/server/jobapi/jobapi.go
  supervisor/pkg/utils/try/try.go
Owners: @Darkness4

fix(sbatch-service): remove indent
  sbatch-service/renderer/renderer_enroot_command.sh.tpl
  sbatch-service/renderer/renderer_enroot_command_test.go
  sbatch-service/renderer/renderer_step_run_test.go
Owners: none

fix(supervisor): fix log on try with timeout
  supervisor/pkg/utils/try/try.go
Owners: @Darkness4

docs(deploy-deepsquare): finished guides
  docs/docs/05-deploy-deepsquare/01-overview.md
  docs/docs/05-deploy-deepsquare/02-getting-started/part-4.mdx
  docs/docs/05-deploy-deepsquare/03-guides/00-overview.md
  docs/docs/05-deploy-deepsquare/03-guides/04-mounts.md
  docs/docs/05-deploy-deepsquare/03-guides/100-connecting-wireguard.assets/wireguard.drawio.svg
  docs/docs/05-deploy-deepsquare/03-guides/100-connecting-wireguard.md
  docs/docs/05-deploy-deepsquare/03-guides/101-logging.md
Owners: none

docs(deploy-deepsquare): indent fields
  docs/docs/05-deploy-deepsquare/03-guides/100-connecting-wireguard.md
Owners: none

docs(deploy-wireguard): add some details
  docs/docs/05-deploy-deepsquare/03-guides/100-connecting-wireguard.md
Owners: none

docs(deploy-deepsquare): about IPVS, eBPF load balancing
  docs/docs/05-deploy-deepsquare/03-guides/100-connecting-wireguard.md
Owners: none

fix(supervisor): only show error if not nil
  supervisor/pkg/utils/try/try.go
Owners: @Darkness4

docs(deploy-deepsquare): minor rewording
  docs/docs/05-deploy-deepsquare/02-getting-started/part-4.mdx
Owners: none

docs(deploy-deepsquare): consistent naming
  docs/docs/05-deploy-deepsquare/01-overview.md
Owners: none

fix(supervisor): fix zombie channels
  supervisor/pkg/eth/eth_datasource_test.go
  supervisor/pkg/job/job_watcher.go
  supervisor/pkg/server/health/health.go
  supervisor/pkg/ssh/ssh_service.go
  supervisor/pkg/utils/try/try.go
Owners: @Darkness4

chore: bump grpc versions
  provider-job-completion-plugin/cmake/dependencies.cmake
  provider-job-completion-plugin/gen/cpp/grpc/health/v1/health.grpc.pb.cc
  provider-job-completion-plugin/gen/cpp/grpc/health/v1/health.grpc.pb.h
  provider-job-completion-plugin/gen/cpp/grpc/health/v1/health.pb.h
  provider-job-completion-plugin/gen/cpp/supervisor/v1alpha1/job.grpc.pb.cc
  provider-job-completion-plugin/gen/cpp/supervisor/v1alpha1/job.grpc.pb.h
  provider-job-completion-plugin/gen/cpp/supervisor/v1alpha1/job.pb.h
  provider-job-completion-plugin/gen/cpp/supervisor/v1alpha1/ssh.grpc.pb.cc
  provider-job-completion-plugin/gen/cpp/supervisor/v1alpha1/ssh.grpc.pb.h
  provider-job-completion-plugin/gen/cpp/supervisor/v1alpha1/ssh.pb.h
  provider-spank-plugin/cmake/dependencies.cmake
  provider-spank-plugin/gen/cpp/grpc/health/v1/health.grpc.pb.cc
  provider-spank-plugin/gen/cpp/grpc/health/v1/health.grpc.pb.h
  provider-spank-plugin/gen/cpp/grpc/health/v1/health.pb.h
  provider-spank-plugin/gen/cpp/supervisor/v1alpha1/job.grpc.pb.cc
  provider-spank-plugin/gen/cpp/supervisor/v1alpha1/job.grpc.pb.h
  provider-spank-plugin/gen/cpp/supervisor/v1alpha1/job.pb.h
  provider-spank-plugin/gen/cpp/supervisor/v1alpha1/ssh.grpc.pb.cc
  provider-spank-plugin/gen/cpp/supervisor/v1alpha1/ssh.grpc.pb.h
  provider-spank-plugin/gen/cpp/supervisor/v1alpha1/ssh.pb.h
  provider-ssh-authorized-keys/gen/go/grpc/health/v1/health.pb.go
  provider-ssh-authorized-keys/gen/go/supervisor/v1alpha1/job.pb.go
  provider-ssh-authorized-keys/gen/go/supervisor/v1alpha1/ssh.pb.go
  provider-ssh-authorized-keys/go.mod
  provider-ssh-authorized-keys/go.sum
  supervisor/gen/go/grpc/health/v1/health.pb.go
  supervisor/gen/go/supervisor/v1alpha1/job.pb.go
  supervisor/gen/go/supervisor/v1alpha1/ssh.pb.go
Owners: @Darkness4

chore(provider-ssh-authorized-keys): remove useless command
  provider-ssh-authorized-keys/Makefile
Owners: @Darkness4

fix(supervisor): do not send command on context done
  supervisor/pkg/ssh/ssh_service.go
Owners: @Darkness4

fix(supervisor): ssh with context
  supervisor/pkg/ssh/ssh_service.go
Owners: @Darkness4

fix(supervisor): passing pointers properly
  supervisor/pkg/ssh/ssh_service.go
Owners: @Darkness4

fix(supervisor): return early when context deadline exceeded
  supervisor/pkg/ssh/ssh_service.go
Owners: @Darkness4

CODEOWNERS:

# CI/CD
.github/ @Darkness4
docker/ @Darkness4

# Contracts
smart-contracts/ @Lymnah @Darkness4 @efelem
protos/ @Darkness4 @efelem @Lymnah
schemas/ @Darkness4 @valentinpollart

# Customer side
customer-portal/ @valentinpollart @Lymnah
cli/ @Darkness4 @Lymnah

# Microservices
sbatch-services/ @Darkness4
avalanche-subnet/ @efelem
oracle-scheduler/ @efelem @Lymnah

# Cluster-side
provider-job-completion-plugin/ @Darkness4
provider-spank-plugin/ @Darkness4
provider-ssh-authorized-keys/ @Darkness4
supervisor/ @Darkness4
