Repository deepsquare-io/grid, changes with the owners that CODEOWNERS names for each.
All owners: @Darkness4, @Lymnah, @efelem

CODEOWNERS:

# CI/CD
.github/ @Darkness4
docker/ @Darkness4

# Contracts
smart-contracts/ @Lymnah @Darkness4 @efelem
protos/ @Darkness4 @efelem @Lymnah
schemas/ @Darkness4

# Customer side
cli/ @Darkness4 @Lymnah

# Microservices
sbatch-services/ @Darkness4
avalanche-subnet/ @efelem
meta-scheduler/ @Darkness4 @efelem @Lymnah

# Cluster-side
provider-job-completion-plugin/ @Darkness4
provider-spank-plugin/ @Darkness4
provider-ssh-authorized-keys/ @Darkness4
supervisor/ @Darkness4

fix(cli): show clean logs if no timestamp
  cli/cmd/job/job.go
  cli/cmd/submit/submit.go
Owners: @Darkness4, @Lymnah

fix(cli): fix wrong commands
  docs/workflow/06-cli/02-getting-started.md
Owners: none

chore(docs): update infrastructure docs
  docs/deepsquare-grid/000-overview.mdx
  docs/deepsquare-grid/clusterfactory/10-overview.md
  docs/deepsquare-grid/clusterfactory/_category_.json
  docs/deepsquare-grid/join/00-overview.md
  docs/deepsquare-grid/join/_category_.json
  docs/deepsquare-grid/learn/.assets-deploy-deepsquare/image-226926804-7515f9e2-9f5f-43fc-b3f7-edc134be683f.png
  docs/deepsquare-grid/learn/10-architecture.assets/architecture-cf-de-Kubernetes-less-Page-5.drawio.svg
  docs/deepsquare-grid/learn/10-architecture.assets/architecture-cf-de-Simplification-Authentication.svg
  docs/deepsquare-grid/learn/10-architecture.assets/architecture-cf-de-Simplification-Page-5.drawio.svg
  docs/deepsquare-grid/learn/10-architecture.md
  docs/deepsquare-grid/learn/20-supervisor.md
  docs/deepsquare-grid/learn/_category_.json
Owners: none

feat(docs): add about supervisor
  docs/deepsquare-grid/learn/20-supervisor.md
Owners: none

chore(docs): update install guide
  docs/workflow/000-quick-start.md
  docs/workflow/06-cli/02-getting-started.md
Owners: none

chore(go): update dependencies
  cli/go.mod
  cli/go.sum
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/go.mod
  ldap-connector/go.sum
  provider-ssh-authorized-keys/go.mod
  provider-ssh-authorized-keys/go.sum
  sbatch-service/go.mod
  sbatch-service/go.sum
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4, @Lymnah

fix(cli): fix CLI paths and perms on windows
  cli/internal/utils/utils.go
Owners: @Darkness4, @Lymnah

fix(sbatch): put to integration test
  sbatch-service/validate/container_image_fetcher_test.go
Owners: none

chore(go): update deps
  cli/go.mod
  cli/go.sum
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/go.mod
  ldap-connector/go.sum
  provider-ssh-authorized-keys/go.mod
  provider-ssh-authorized-keys/go.sum
  sbatch-service/go.mod
  sbatch-service/go.sum
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4, @Lymnah

refactor(cli): moved types accordingly
  cli/.mockery.yaml
  cli/cmd/job/job.go
  cli/cmd/provider/provider.go
  cli/cmd/submit/submit.go
  cli/deepsquare/deepsquare_client.go
  cli/metascheduler/metascheduler_jobfetcher.go
  cli/metascheduler/metascheduler_jobs_by_provider_fetcher.go
  cli/metascheduler/metascheduler_jobs_by_provider_fetcher_test.go
  cli/metascheduler/metascheduler_jobscheduler.go
  cli/metascheduler/metascheduler_oracle.go
  cli/metascheduler/metascheduler_oracle_integration_test.go
  cli/metascheduler/metascheduler_providermanager.go
  cli/metascheduler/metascheduler_rpc.go
  cli/metascheduler/metascheduler_ws.go
  cli/mocks/mockjob/Fetcher_mock.go
  cli/mocks/mockjob/MetaScheduledIdsFetcher_mock.go
  cli/mocks/mocktypes/JobFetcher_mock.go
  cli/mocks/mocktypes/MetaScheduledJobsIdsFetcher_mock.go
  cli/tui/editor/editor_model.go
  cli/tui/nav/nav.go
  cli/tui/provider/details/details_model.go
  cli/tui/provider/details/details_model_builder.go
  cli/tui/provider/details/details_view.go
  cli/tui/provider/provider_model.go
  cli/tui/provider/provider_model_builder.go
  cli/tui/status/log/log_model.go
  cli/tui/status/log/log_watch_transition_model.go
  cli/tui/status/status_model.go
  cli/tui/status/status_watch_jobs_model.go
  cli/tui/status/topup/topup_watch_job_status.go
  cli/types/allowance/allowance.go
  cli/types/credit/credit.go
  cli/types/event/event_subscriber.go
  cli/types/job/job.go
  cli/types/provider/provider.go
  cli/types/types.go
Owners: @Darkness4, @Lymnah

fix: fix regex to match :in:
  cli/cmd/submit/submit.go
Owners: @Darkness4, @Lymnah

feat(cli): remove jobname requirement
  cli/cmd/submit/submit.go
Owners: @Darkness4, @Lymnah

chore(go): update deps
  cli/go.mod
  cli/go.sum
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/go.mod
  ldap-connector/go.sum
  provider-ssh-authorized-keys/go.mod
  provider-ssh-authorized-keys/go.sum
  sbatch-service/go.mod
  sbatch-service/go.sum
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4, @Lymnah

chore(sbatch): increase timeout for image fetch
  sbatch-service/module/module_resolver_test.go
  sbatch-service/validate/container_image_fetcher.go
Owners: none

fix(sbatch): fix critical bug with mount and vnet
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/fixtures_test.go
  sbatch-service/fixtures/map-uid.txt
  sbatch-service/fixtures/minecraft.txt
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/tgi.txt
  sbatch-service/fixtures/tgi.yaml
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_apptainer_command.sh.tpl
  sbatch-service/renderer/renderer_apptainer_command_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
Owners: none

fix(sbatch): put correct fixture
  sbatch-service/fixtures/tgi.txt
Owners: none

fix(sbatch): use tgi mirror
  sbatch-service/fixtures/tgi.txt
  sbatch-service/fixtures/tgi.yaml
Owners: none

fix(sbatch): fix tgi mirror
  sbatch-service/fixtures/tgi.txt
  sbatch-service/fixtures/tgi.yaml
Owners: none

fix(sbatch): fix eol
  sbatch-service/fixtures/tgi.txt
Owners: none

fix(sbatch): remove trailing newline
  sbatch-service/fixtures/blender-batch-job.txt
Owners: none

chore: update discord
  README.md
  docs/blockchain/01-join/01-join-as-validator.md
  docs/docusaurus.config.js
  docs/workflow/001-learn/07-credits-token.md
  docs/workflow/10-guides/999-publishing-deepsquare.md
Owners: none

chore: bump discord
  docs/workflow/02-getting-started/part-2-openmpi.md
Owners: none

fix(sbatch): fix multiline env with enroot
  sbatch-service/fixtures/cs2.txt
  sbatch-service/fixtures/fixtures_test.go
  sbatch-service/fixtures/map-uid.txt
  sbatch-service/fixtures/map-uid.yaml
  sbatch-service/fixtures/multiline-env.yaml
  sbatch-service/fixtures/tgi.txt
  sbatch-service/fixtures/tgi.yaml
  sbatch-service/renderer/funcs.go
  sbatch-service/renderer/mocks_test.go
  sbatch-service/renderer/renderer_enroot_command.sh.tpl
  sbatch-service/renderer/renderer_enroot_command_test.go
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run_test.go
  sbatch-service/renderer/renderer_step_test.go
  sbatch-service/utils/generate_random_string.go
  sbatch-service/utils/generate_random_string_test.go
Owners: none

feat(supervisor): manual HPL tuning
  supervisor/main.go
  supervisor/pkg/benchmark/benchmark.go
  supervisor/pkg/benchmark/benchmark_handlers.go
  supervisor/pkg/benchmark/benchmark_handlers_integration_test.go
  supervisor/pkg/benchmark/benchmark_hpl.go
  supervisor/pkg/benchmark/benchmark_hpl_test.go
  supervisor/pkg/benchmark/benchmark_integration_test.go
  supervisor/pkg/benchmark/templates/benchmark-hpl.tmpl
  supervisor/pkg/benchmark/templates/dat.tmpl
  supervisor/pkg/server/server.go
Owners: @Darkness4

chore(supervisor): add example
  supervisor/.env
Owners: @Darkness4

fix(cli): fix lint
  cli/.golangci.yaml
  cli/cmd/dps/main.go
  cli/cmd/initc/initc.go
  cli/cmd/submit/submit.go
  cli/internal/utils/utils.go
  cli/metascheduler/metascheduler_error_test.go
  cli/metascheduler/metascheduler_jobs_by_provider_fetcher.go
  cli/metascheduler/metascheduler_oracle.go
  cli/metascheduler/metascheduler_oracle_integration_test.go
  cli/tui/provider/provider_model_builder.go
  cli/tui/status/status_model.go
  cli/types/job/job.go
Owners: @Darkness4, @Lymnah

chore(go): update to 1.22
  cli/go.mod
  cli/go.sum
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/go.mod
  ldap-connector/go.sum
  provider-ssh-authorized-keys/go.mod
  provider-ssh-authorized-keys/go.sum
  sbatch-service/go.mod
  sbatch-service/go.sum
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4, @Lymnah

feat(*): increase gas limit
  cli/metascheduler/metascheduler_allowancemanager.go
  cli/metascheduler/metascheduler_creditmanager.go
  cli/metascheduler/metascheduler_jobscheduler.go
  cli/metascheduler/metascheduler_providermanager.go
  cli/metascheduler/metascheduler_rpc.go
  supervisor/pkg/metascheduler/metascheduler_client.go
Owners: @Darkness4, @Lymnah

feat(*): fix test
  supervisor/pkg/metascheduler/metascheduler_client_test.go
Owners: @Darkness4

chore(go): bump deps
  cli/go.mod
  cli/go.sum
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/go.mod
  ldap-connector/go.sum
  sbatch-service/go.mod
  sbatch-service/go.sum
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4, @Lymnah

chore(cli): repair doc
  cli/_examples/init/main.go
  cli/deepsquare/deepsquare_doc.go
  cli/doc.go
Owners: @Darkness4, @Lymnah

feat(*): return error on status not 1
  cli/metascheduler/metascheduler_allowancemanager.go
  cli/metascheduler/metascheduler_creditmanager.go
  cli/metascheduler/metascheduler_jobscheduler.go
  cli/metascheduler/metascheduler_providermanager.go
  supervisor/pkg/metascheduler/metascheduler_client.go
Owners: @Darkness4, @Lymnah

fix(*): fix receipt mock
  supervisor/pkg/metascheduler/metascheduler_client_test.go
Owners: @Darkness4

feat(eth): simulate contract to find errors
  cli/metascheduler/metascheduler_allowancemanager.go
  cli/metascheduler/metascheduler_creditmanager.go
  cli/metascheduler/metascheduler_error.go
  cli/metascheduler/metascheduler_jobscheduler.go
  cli/metascheduler/metascheduler_providermanager.go
  sbatch-service/types/types_error.go
  supervisor/pkg/metascheduler/metascheduler_client.go
  supervisor/pkg/metascheduler/metascheduler_client_integration_test.go
  supervisor/pkg/metascheduler/metascheduler_error.go
Owners: @Darkness4, @Lymnah

feat(eth): simulate call before transact
  cli/metascheduler/metascheduler_allowancemanager.go
  cli/metascheduler/metascheduler_creditmanager.go
  cli/metascheduler/metascheduler_error.go
  cli/metascheduler/metascheduler_jobscheduler.go
  cli/metascheduler/metascheduler_providermanager.go
  cli/metascheduler/metascheduler_rpc.go
  sbatch-service/types/types_error.go
  supervisor/pkg/metascheduler/metascheduler_client.go
  supervisor/pkg/metascheduler/metascheduler_error.go
Owners: @Darkness4, @Lymnah

fix(eth): dont specity tipcap and feecap
  cli/go.mod
  cli/go.sum
  cli/metascheduler/metascheduler_error.go
  cli/metascheduler/metascheduler_rpc.go
  sbatch-service/go.mod
  sbatch-service/go.sum
  sbatch-service/types/types_error.go
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  supervisor/pkg/metascheduler/metascheduler_client.go
  supervisor/pkg/metascheduler/metascheduler_error.go
Owners: @Darkness4, @Lymnah

fix(meta-scheduler): fix test transact
  cli/go.sum
Owners: @Darkness4, @Lymnah

fix(supervisor): fix mock transact
  supervisor/pkg/metascheduler/metascheduler_client_test.go
Owners: @Darkness4

feat(eth): add gas limit margin
  cli/metascheduler/metascheduler_rpc.go
  supervisor/pkg/metascheduler/metascheduler_client.go
Owners: @Darkness4, @Lymnah

feat(go): bump go-ethereum
  cli/go.mod
  cli/go.sum
  cli/metascheduler/metascheduler_rpc.go
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/go.mod
  ldap-connector/go.sum
  sbatch-service/go.mod
  sbatch-service/go.sum
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  supervisor/go.mod
  supervisor/go.sum
  supervisor/pkg/metascheduler/metascheduler_client.go
Owners: @Darkness4, @Lymnah
