Repository deepsquare-io/grid, changes with the owners that CODEOWNERS names for each.
All owners: @Darkness4, @Lymnah, @efelem, @valentinpollart

CODEOWNERS:

# CI/CD
.github/ @Darkness4
docker/ @Darkness4

# Contracts
smart-contracts/ @Lymnah @Darkness4 @efelem
protos/ @Darkness4 @efelem @Lymnah
schemas/ @Darkness4 @valentinpollart

# Customer side
customer-portal/ @valentinpollart @Lymnah
cli/ @Darkness4 @Lymnah

# Microservices
sbatch-services/ @Darkness4
avalanche-subnet/ @efelem
oracle-scheduler/ @efelem @Lymnah

# Cluster-side
provider-job-completion-plugin/ @Darkness4
provider-spank-plugin/ @Darkness4
provider-ssh-authorized-keys/ @Darkness4
supervisor/ @Darkness4

Update 00-overview.md
  docs/docs/05-deploy-deepsquare/04-client-development/00-overview.md
Owners: none

Update 04-sdk.md
  docs/docs/05-deploy-deepsquare/04-client-development/04-sdk.md
Owners: none

fix(sbatch-service): enroot login fix
  sbatch-service/renderer/renderer_job_test.go
  sbatch-service/renderer/renderer_step_for_test.go
  sbatch-service/renderer/renderer_step_run.sh.tpl
  sbatch-service/renderer/renderer_step_run_test.go
  sbatch-service/renderer/renderer_step_test.go
Owners: none

feat(go): zap logger add caller context (finally!)
  cli/logger/logger.go
  grid-logger/logger/logger.go
  ldap-connector/logger/logger.go
  provider-ssh-authorized-keys/logger/logger.go
  sbatch-service/logger/logger.go
  supervisor/logger/logger.go
Owners: @Darkness4, @Lymnah

fix(provider-ssh-authorized-keys): fix build
  provider-ssh-authorized-keys/logger/logger.go
Owners: @Darkness4

feat(supervisor,plugins): dynamic reporting (#297)
  provider-job-completion-plugin/README.md
  provider-job-completion-plugin/cmake/package.cmake
  provider-job-completion-plugin/compile_flags.txt
  provider-job-completion-plugin/src/job_api.cc
  provider-job-completion-plugin/src/job_api.h
  provider-job-completion-plugin/src/jobcomp_provider.cc
  provider-job-completion-plugin/src/report.h
  provider-job-completion-plugin/src/slurm_utils.cc
  provider-job-completion-plugin/src/slurm_utils.h
  provider-spank-plugin/.vscode/c_cpp_properties.json
  provider-spank-plugin/README.md
  provider-spank-plugin/cmake/package.cmake
  provider-spank-plugin/compile_flags.txt
  provider-spank-plugin/src/config.cc
  provider-spank-plugin/src/config.h
  provider-spank-plugin/src/job_api.cc
  provider-spank-plugin/src/job_api.h
  provider-spank-plugin/src/report.h
  provider-spank-plugin/src/slurm_utils.cc
  provider-spank-plugin/src/slurm_utils.h
  provider-spank-plugin/src/spank_provider.cc
  supervisor/cmd/main.go
  supervisor/pkg/slurm/slurm.go
  supervisor/pkg/slurm/slurm_integration_test.go
  supervisor/pkg/slurm/slurm_test.go
Owners: @Darkness4

feat(plugins): enable manual build and export
  provider-job-completion-plugin/.dockerignore
  provider-job-completion-plugin/.gitignore
  provider-job-completion-plugin/Dockerfile.deb
  provider-job-completion-plugin/Dockerfile.rpm
  provider-job-completion-plugin/build-and-export.sh
  provider-spank-plugin/.dockerignore
  provider-spank-plugin/.gitignore
  provider-spank-plugin/Dockerfile.deb
  provider-spank-plugin/Dockerfile.rpm
  provider-spank-plugin/build-and-export.sh
Owners: @Darkness4

feat(sbatch-service): add bore support (#303)
  docs/docs/05-deploy-deepsquare/03-guides/101-connecting-bore.md
  docs/docs/05-deploy-deepsquare/03-guides/102-logging.md
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/02-job.md
  docs/docs/05-deploy-deepsquare/40-workflow-api-reference/02-job.track
  docs/package.json
  docs/schemas/job.schema.json
  sbatch-service/fixtures/nginx.yaml
  sbatch-service/go.mod
  sbatch-service/go.sum
  sbatch-service/graph/generated.go
  sbatch-service/graph/model/models.go
  sbatch-service/graph/model/models_test.go
  sbatch-service/graph/schema.resolvers.go
  sbatch-service/renderer/renderer_slirp4netns.sh.tpl
  sbatch-service/renderer/renderer_slirp4netns_test.go
  sbatch-service/validate/format.go
Owners: @Darkness4, @valentinpollart

fix(docs): broken link
  docs/docs/02-deepsquare-portal/01-introduction.md
Owners: none

feat(docs): replaced github hosted image with local
  docs/docs/02-deepsquare-portal/introduction.assets/image-portal-overview.png
  docs/docs/05-deploy-deepsquare/.assets-deploy-deepsquare/image-226926804-7515f9e2-9f5f-43fc-b3f7-edc134be683f.png
  docs/docs/05-deploy-deepsquare/01-overview.md
Owners: none

feat(docs): python script to find broken links
  docs/check-valid-links.py
Owners: none

feat(docs): Maja's feedbacks
  docs/docs/01-introduction/02-core-concepts.md
  docs/docs/02-deepsquare-portal/05-app-usage-and-billing.md
  docs/docs/05-deploy-deepsquare/.assets-deploy-deepsquare/image-226926804-7515f9e2-9f5f-43fc-b3f7-edc134be683f.png
  docs/docs/05-deploy-deepsquare/01-overview.md
  docs/docs/05-deploy-deepsquare/03-guides/00-overview.md
  docs/docs/05-deploy-deepsquare/03-guides/99-publishing-deepsquare.md
  docs/docs/05-deploy-deepsquare/04-client-development/00-overview.md
  docs/docs/05-deploy-deepsquare/04-client-development/04-sdk.md
Owners: none

fix(docs): fix broken url
  docs/docs/03-deepsquare-grid/10-join-the-grid/11-requirements.md
Owners: none

fix(deploy-deepsquare): fix typos
  docs/docs/05-deploy-deepsquare/03-guides/00-overview.md
Owners: none

feat(supervisor): connect eth topup with slurm (#272)
  supervisor/cmd/main.go
  supervisor/go.mod
  supervisor/go.sum
  supervisor/mocks/EthereumAuthenticator.go
  supervisor/mocks/Executor.go
  supervisor/mocks/HealthClient.go
  supervisor/mocks/HealthServer.go
  supervisor/mocks/Health_WatchClient.go
  supervisor/mocks/Health_WatchServer.go
  supervisor/mocks/JobAPIClient.go
  supervisor/mocks/JobAPIServer.go
  supervisor/mocks/JobBatchFetcher.go
  supervisor/mocks/JobHandler.go
  supervisor/mocks/JobMetaQueue.go
  supervisor/mocks/JobScheduler.go
  supervisor/mocks/MetaSchedulerRPC.go
  supervisor/mocks/MetaSchedulerWS.go
  supervisor/mocks/SBatchAPIClient.go
  supervisor/mocks/SBatchAPIServer.go
  supervisor/mocks/SshAPIClient.go
  supervisor/mocks/SshAPIServer.go
  supervisor/mocks/UnsafeHealthServer.go
  supervisor/mocks/UnsafeJobAPIServer.go
  supervisor/mocks/UnsafeSBatchAPIServer.go
  supervisor/mocks/UnsafeSshAPIServer.go
  supervisor/pkg/eth/eth_datasource.go
  supervisor/pkg/eth/eth_datasource_test.go
  supervisor/pkg/eth/eth_mappers.go
  supervisor/pkg/eth/eth_types.go
  supervisor/pkg/job/job_types.go
  supervisor/pkg/job/job_watcher.go
  supervisor/pkg/job/job_watcher_test.go
  supervisor/pkg/scheduler/scheduler_slurm.go
  supervisor/pkg/scheduler/scheduler_slurm_integration_test.go
  supervisor/pkg/scheduler/scheduler_slurm_test.go
  supervisor/pkg/scheduler/scheduler_types.go
  supervisor/pkg/server/server.go
  supervisor/pkg/slurm/slurm_types.go
  supervisor/tools/tools.go
Owners: @Darkness4

docs(deploy-deepsquare): fix missing run
  docs/docs/05-deploy-deepsquare/03-guides/04-mounts.md
  docs/docs/05-deploy-deepsquare/03-guides/05-maproot.md
Owners: none

fix(sbatch-service): fix mount with enroot
  sbatch-service/renderer/renderer_enroot_command.sh.tpl
  sbatch-service/renderer/renderer_enroot_command_test.go
  sbatch-service/renderer/renderer_step_run_test.go
Owners: none

feat(grid-logger): add client side verification
  grid-logger/writer/main.go
Owners: none

feat(grid-logger): encrypt files
  grid-logger/server/crypto/aes.go
  grid-logger/server/crypto/aes_test.go
  grid-logger/server/db/file.go
  grid-logger/server/main.go
Owners: none

feat(docs): comment Unity doc until it's avaible in prod
  docs/docs/02-deepsquare-portal/03-available applications.md
Owners: none

fix(docs): removed Unity until it's up and running in prod
  docs/docs/02-deepsquare-portal/03-available applications.md
Owners: none

fix(grid-logger): fix encryption
  grid-logger/server/api/logger.go
  grid-logger/server/crypto/aes.go
  grid-logger/server/db/file.go
  grid-logger/writer/main.go
Owners: none

feat(sbatch-service): add uid verify on grid logger writer
  sbatch-service/fixtures/blender-batch-job.txt
  sbatch-service/fixtures/stable-diffusion.txt
  sbatch-service/fixtures/tdp.txt
  sbatch-service/fixtures/upscale.txt
  sbatch-service/fixtures/urs.txt
  sbatch-service/renderer/renderer_job.sh.tpl
  sbatch-service/renderer/renderer_job_test.go
Owners: none

chore(go): setup multi modules workspace
  cli/go.mod
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/go.mod
  ldap-connector/go.sum
  provider-ssh-authorized-keys/go.mod
  provider-ssh-authorized-keys/go.sum
  sbatch-service/go.mod
  sbatch-service/go.sum
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4, @Lymnah

feat(docs): remove some bold text in introduction
  docs/docs/01-introduction/01-overview.md
Owners: none

docs(deploy-deepsquare): writing samples
  docs/docs/05-deploy-deepsquare/04-samples/01-upscaling.md
  docs/docs/05-deploy-deepsquare/04-samples/02-stable-diffusion.md
  docs/docs/05-deploy-deepsquare/04-samples/03-unity-render-streaming.md
  docs/docs/05-deploy-deepsquare/04-samples/04-blender.md
  docs/docs/05-deploy-deepsquare/04-samples/_category_.json
  docs/docs/05-deploy-deepsquare/05-client-development/00-overview.md
  docs/docs/05-deploy-deepsquare/05-client-development/04-sdk.md
  docs/docs/05-deploy-deepsquare/05-client-development/_category_.json
Owners: none

docs(deploy-deepsquare): about stable diffusion and upscaling
  docs/docs/05-deploy-deepsquare/04-samples/01-upscaling.md
  docs/docs/05-deploy-deepsquare/04-samples/02-stable-diffusion.md
Owners: none

feat(docs): add mermaid and finish samples
  docs/docs/05-deploy-deepsquare/04-samples/01-upscaling.md
  docs/docs/05-deploy-deepsquare/04-samples/02-stable-diffusion.md
  docs/docs/05-deploy-deepsquare/04-samples/03-unity-render-streaming.md
  docs/docs/05-deploy-deepsquare/04-samples/04-blender.md
  docs/docusaurus.config.js
  docs/package.json
  docs/pnpm-lock.yaml
Owners: none

docs: update 03-environment-variables.md
  docs/docs/05-deploy-deepsquare/03-guides/03-environment-variables.md
Owners: none

docs: update 04-mounts.md
  docs/docs/05-deploy-deepsquare/03-guides/04-mounts.md
Owners: none

feat(go): optimize go build
  cli/scripts/999.build-all.sh
  grid-logger/Dockerfile
  grid-logger/Makefile
  ldap-connector/Dockerfile
  provider-ssh-authorized-keys/Makefile
  sbatch-service/Dockerfile
  sbatch-service/Makefile
  supervisor/Dockerfile
  supervisor/Makefile
Owners: @Darkness4, @Lymnah

feat(sbatch-service): prefer Apollo sandbox playground
  sbatch-service/server.go
Owners: none

feat(exporter): added smart-contract exporter (#334
  smart-contracts-exporter/.dockerignore
  smart-contracts-exporter/Dockerfile
  smart-contracts-exporter/Makefile
  smart-contracts-exporter/cmd/root.go
  smart-contracts-exporter/contracts/metascheduler/metascheduler.go
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  smart-contracts-exporter/gqlgen.yml
  smart-contracts-exporter/graph/generated.go
  smart-contracts-exporter/graph/model/models_gen.go
  smart-contracts-exporter/graph/resolver.go
  smart-contracts-exporter/graph/scalar/bigint.go
  smart-contracts-exporter/graph/schema.resolvers.go
  smart-contracts-exporter/graph/utils.go
  smart-contracts-exporter/http/middleware/middleware.go
  smart-contracts-exporter/inputs/real_time.go
  smart-contracts-exporter/logger/logger.go
  smart-contracts-exporter/main.go
  smart-contracts-exporter/metrics/v1/metrics.go
  smart-contracts-exporter/metrics/v1/metrics.pb.go
  smart-contracts-exporter/metrics/v1/metrics.proto
  smart-contracts-exporter/metrics/v1/metrics_utils.go
  smart-contracts-exporter/scripts/1.generate-eth.sh
  smart-contracts-exporter/tools/tools.go
  smart-contracts-exporter/utils/metric/get_value.go
  smart-contracts-exporter/utils/singleton/singleton_map.go
  smart-contracts-exporter/watcher/watcher.go
Owners: none

fix(exporter): handle error
  smart-contracts-exporter/graph/scalar/bigint.go
Owners: none

feat(grid-logger)!: added timestamp (#337)
  grid-logger/gen/go/grpc/health/v1/health.pb.go
  grid-logger/gen/go/logger/v1alpha1/log.pb.go
  grid-logger/go.mod
  grid-logger/go.sum
  grid-logger/server/api/logger.go
  grid-logger/server/db/file.go
  grid-logger/writer/main.go
Owners: none

fix(grid-logger): prefer UNIX nano
  grid-logger/reader/api/client.go
  grid-logger/writer/main.go
Owners: none

chore(grid-logger): add unit in timestamp
  grid-logger/gen/go/logger/v1alpha1/log.pb.go
Owners: none

feat(sbatch-service): add spec for module
  sbatch-service/go.sum
  sbatch-service/graph/generated.go
  sbatch-service/graph/model/models_gen.go
  sbatch-service/graph/schema.resolvers.go
Owners: none

docs(deploy-deepsquare): moved modules to guide
  docs/docs/05-deploy-deepsquare/03-guides/0-module-development/00-about.md
  docs/docs/05-deploy-deepsquare/03-guides/0-module-development/00-overview.assets/github-create.png
  docs/docs/05-deploy-deepsquare/03-guides/0-module-development/00-overview.assets/image-20230427212448824.png
  docs/docs/05-deploy-deepsquare/03-guides/0-module-development/01-usage.md
  docs/docs/05-deploy-deepsquare/03-guides/0-module-development/02-create.md
  docs/docs/05-deploy-deepsquare/03-guides/0-module-development/_category_.json
Owners: none

fix(exporter): use chi router
  smart-contracts-exporter/http/middleware/middleware.go
  smart-contracts-exporter/main.go
Owners: none
