Repository deepsquare-io/grid, changes with the owners that CODEOWNERS names for each.
All owners: @Darkness4, @Lymnah, @efelem

CODEOWNERS:

# CI/CD
.github/ @Darkness4
docker/ @Darkness4

# Contracts
smart-contracts/ @Lymnah @Darkness4 @efelem
protos/ @Darkness4 @efelem @Lymnah
schemas/ @Darkness4

# Customer side
cli/ @Darkness4 @Lymnah

# Microservices
sbatch-services/ @Darkness4
avalanche-subnet/ @efelem
meta-scheduler/ @Darkness4 @efelem @Lymnah

# Cluster-side
provider-job-completion-plugin/ @Darkness4
provider-spank-plugin/ @Darkness4
provider-ssh-authorized-keys/ @Darkness4
supervisor/ @Darkness4

feat(eth): use new simulated backend
  cli/metascheduler/metascheduler_error_test.go
  sbatch-service/types/types_error_test.go
  supervisor/pkg/metascheduler/metascheduler_error_test.go
Owners: @Darkness4, @Lymnah

Revert "feat(eth): use new simulated backend"
  cli/metascheduler/metascheduler_error_test.go
  sbatch-service/types/types_error_test.go
  supervisor/pkg/metascheduler/metascheduler_error_test.go
Owners: @Darkness4, @Lymnah

chore(go): rollback go ethereum
  cli/go.mod
  cli/go.sum
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/go.mod
  ldap-connector/go.sum
  sbatch-service/go.mod
  sbatch-service/go.sum
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4, @Lymnah

fix(cli): connect all context
  cli/tui/editor/editor_model.go
  cli/tui/editor/editor_model_builder.go
  cli/tui/nav/nav.go
  cli/tui/nav/nav_builder.go
  cli/tui/provider/provider_model.go
  cli/tui/provider/provider_model_builder.go
  cli/tui/status/log/log_model.go
  cli/tui/status/log/log_model_builder.go
  cli/tui/status/status_model.go
  cli/tui/status/topup/topup_model.go
  cli/tui/status/topup/topup_model_builder.go
  cli/tui/transfer/transfer_model.go
  cli/tui/transfer/transfer_model_builder.go
Owners: @Darkness4, @Lymnah

refactor(cli): do not return interface
  cli/.golangci.yaml
  cli/_examples/init/main.go
  cli/_examples/submit/main.go
  cli/cmd/submit/submit.go
  cli/deepsquare/deepsquare_client.go
  cli/deepsquare/deepsquare_doc.go
  cli/doc.go
  cli/logger/logger.go
  cli/metascheduler/metascheduler_allowancemanager.go
  cli/metascheduler/metascheduler_creditmanager.go
  cli/metascheduler/metascheduler_jobfetcher.go
  cli/metascheduler/metascheduler_jobs_by_provider_fetcher.go
  cli/metascheduler/metascheduler_jobscheduler.go
  cli/metascheduler/metascheduler_oracle.go
  cli/metascheduler/metascheduler_providermanager.go
  cli/metascheduler/metascheduler_rpc.go
  cli/metascheduler/metascheduler_ws.go
  cli/mocks/mockjob/Fetcher_mock.go
  cli/sbatch/sbatch.go
  cli/sbatch/sbatch_test.go
  cli/tui/editor/editor_model.go
  cli/tui/editor/editor_model_builder.go
  cli/tui/nav/nav.go
  cli/tui/nav/nav_builder.go
  cli/tui/provider/provider_model_builder.go
  cli/tui/status/log/log_model.go
  cli/tui/status/log/log_model_builder.go
  cli/tui/status/log/log_watch_transition_model.go
  cli/tui/status/status_model.go
  cli/tui/status/status_watch_jobs_model.go
  cli/tui/status/topup/topup_model.go
  cli/tui/status/topup/topup_model_builder.go
  cli/tui/status/topup/topup_watch_job_status.go
  cli/tui/transfer/transfer_model.go
  cli/tui/transfer/transfer_model_builder.go
  cli/types/job/job.go
Owners: @Darkness4, @Lymnah

fix(cli): init indicates where created
  cli/cmd/initc/initc.go
  docs/workflow/06-cli/02-getting-started.md
Owners: @Darkness4, @Lymnah

chore(go): update deps
  cli/go.mod
  cli/go.sum
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/go.mod
  ldap-connector/go.sum
  provider-ssh-authorized-keys/go.mod
  provider-ssh-authorized-keys/go.sum
  sbatch-service/go.mod
  sbatch-service/go.sum
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4, @Lymnah

fix(demo): update cli
  ldap-connector/go.sum
  smart-contracts-exporter/go.sum
Owners: none

feat(cli): allow to input manually the key
  cli/internal/utils/utils.go
Owners: @Darkness4, @Lymnah

fix(cli): wrong iterator start index
  cli/types/job/job.go
Owners: @Darkness4, @Lymnah

fix(cli): better password prompt
  cli/internal/utils/utils.go
Owners: @Darkness4, @Lymnah

chore(grid-logger): update Makefile and job.sh
  grid-logger/.server.env
  grid-logger/Makefile
  grid-logger/job.sh
  grid-logger/secret.key
Owners: none

chore(make): remove unused OSes
  grid-logger/Makefile
  provider-ssh-authorized-keys/Makefile
  supervisor/Makefile
Owners: @Darkness4

feat(grid-logger-server): add server-side keepalive
  grid-logger/server/main.go
Owners: none

fix(grid-logger): allow greater timeout
  grid-logger/server/main.go
Owners: none

fix(docs): change pk method
  docs/deepsquare-grid/clusterfactory/50-compute-plane-configuration.md
Owners: none

fix(docs): fix typo
  docs/deepsquare-grid/clusterfactory/50-compute-plane-configuration.md
Owners: none

fix(docs): fix title
  docs/deepsquare-grid/clusterfactory/50-compute-plane-configuration.md
Owners: none

chore(docs): fix more typo
  docs/deepsquare-grid/clusterfactory/50-compute-plane-configuration.md
Owners: none

fix(docs): fix typo
  docs/workflow/06-cli/02-getting-started.md
Owners: none

chore(docs): repeat about path
  docs/workflow/06-cli/02-getting-started.md
Owners: none

docs(storage): about container mounts
  docs/workflow/001-learn/05-storage-layout.md
Owners: none

feat(cli): use online schema
  cli/cmd/initc/initc.go
  cli/job.schema.json
  cli/scripts/3.generate-json-schema.js
  cli/tui/editor/editor_command.go
  cli/tui/editor/editor_model_builder.go
  cli/tui/editor/job.schema.json
Owners: @Darkness4, @Lymnah

chore(go): update deps
  cli/go.mod
  cli/go.sum
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/go.mod
  ldap-connector/go.sum
  provider-ssh-authorized-keys/go.mod
  provider-ssh-authorized-keys/go.sum
  sbatch-service/go.mod
  sbatch-service/go.sum
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4, @Lymnah

fix(cli): checks if files are directories
  cli/.gitignore
  cli/Makefile
  cli/cmd/initc/initc.go
  cli/e2e/cli/init.tape
  cli/e2e/cli/submit.tape
  cli/internal/utils/utils.go
Owners: @Darkness4, @Lymnah

chore(tui): add tui e2e
  cli/e2e/tui/tui.tape
Owners: @Darkness4, @Lymnah

chore(go): bump deps
  cli/go.mod
  cli/go.sum
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/go.mod
  ldap-connector/go.sum
  provider-ssh-authorized-keys/go.mod
  provider-ssh-authorized-keys/go.sum
  sbatch-service/go.mod
  sbatch-service/go.sum
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4, @Lymnah

fix(sbatch): apply ireturn rule
  sbatch-service/.golangci.yaml
  sbatch-service/cmd/render.go
  sbatch-service/graph/playground/playground.go
  sbatch-service/grpc/auth/auth.go
  sbatch-service/renderer/mocks_test.go
  sbatch-service/server.go
  sbatch-service/storage/storage_inmemory.go
  sbatch-service/storage/storage_inmemory_test.go
  sbatch-service/storage/storage_redis.go
  sbatch-service/types/types_error.go
  sbatch-service/types/types_error_test.go
  sbatch-service/utils/base58/uuid.go
  sbatch-service/utils/pointer.go
Owners: none

chore(go): bump deps
  cli/go.mod
  cli/go.sum
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/go.mod
  ldap-connector/go.sum
  provider-ssh-authorized-keys/go.mod
  provider-ssh-authorized-keys/go.sum
  sbatch-service/fixtures/fixtures_test.go
  sbatch-service/go.mod
  sbatch-service/go.sum
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4, @Lymnah
