Repository deepsquare-io/grid, changes with the owners that CODEOWNERS names for each.
All owners: @Darkness4, @Lymnah, @efelem, @valentinpollart

fix(supervisor): fix undefined variable
  supervisor/pkg/job/scheduler/scheduler_slurm.go
Owners: @Darkness4

feat(supervisor): avoid setjobstatus before a sbatch
  supervisor/pkg/job/lock/resource_manager.go
  supervisor/pkg/job/watcher/watcher.go
  supervisor/pkg/server/jobapi/jobapi.go
Owners: @Darkness4

refactor(jobcomp): remove unused
  provider-job-completion-plugin/src/jobcomp_provider.cc
Owners: @Darkness4

fix(supervisor): use resource manager
  supervisor/cmd/main.go
  supervisor/pkg/job/lock/resource_manager.go
  supervisor/pkg/job/watcher/watcher.go
  supervisor/pkg/job/watcher/watcher_test.go
  supervisor/pkg/server/jobapi/jobapi.go
  supervisor/pkg/server/jobapi/jobapi_test.go
  supervisor/pkg/server/server.go
Owners: @Darkness4

fix(supervisor): add stdout in output
  supervisor/pkg/ssh/ssh_service.go
Owners: @Darkness4

chore(supervisor): remove tab indent
  supervisor/pkg/job/scheduler/scheduler_slurm.go
Owners: @Darkness4

fix(deepsquare-grid): remove OverSubscribe
  docs/deepsquare-grid/clusterfactory/40-control-plane-configuration.md
Owners: none

fix(supervisor): fix job name without 0x
  supervisor/pkg/server/jobapi/jobapi.go
Owners: @Darkness4

fix(supervisor): non blocking setJobStatus
  supervisor/pkg/server/jobapi/jobapi.go
Owners: @Darkness4

fix(supervisor): fix async test
  supervisor/pkg/server/jobapi/jobapi_test.go
Owners: @Darkness4

chore(doc): fix indentation in upscaling sample in doc
  docs/workflow/04-samples/01-upscaling.md
Owners: none

chore(doc): fix indentation in stable-diffusion sample in doc
  docs/workflow/04-samples/02-stable-diffusion.md
Owners: none

fix(supervisor): fix code generation
  supervisor/scripts/2.generate-eth.sh
Owners: @Darkness4

Allow site browsing while being disconnected (#419)
  docs/workflow/04-samples/02-stable-diffusion.md
Owners: none

chore(cli): cleaning up
  cli/Makefile
  cli/cmd/main.go
  cli/cmd/register/register.go
  cli/cmd/submit/submit.go
  cli/deepsquare/deepsquare.go
  cli/deepsquare/deepsquare_client.go
  cli/deepsquare/generated/abi/errors/errors.go
  cli/deepsquare/generated/abi/metascheduler/metascheduler.go
  cli/deepsquare/generated/logger/v1alpha1/log.pb.go
  cli/deepsquare/generated/logger/v1alpha1/log_grpc.pb.go
  cli/deepsquare/metascheduler/ErrorContract.sol
  cli/deepsquare/metascheduler/metascheduler_error.go
  cli/deepsquare/metascheduler/metascheduler_error_test.go
  cli/deepsquare/metascheduler/metascheduler_job_status.go
  cli/deepsquare/sbatch/sbatch.go
  cli/fixtures/tdp-job.sh
  cli/go.mod
  cli/go.sum
  cli/logger/logger.go
  cli/main.go
  cli/pkg/eth/eth_datasource.go
  cli/pkg/uploader/uploader.go
  cli/scripts/1.generate-eth.sh
  cli/scripts/2.generate-grpc.sh
  cli/tools/tools.go
  grid-logger/gen/go/grpc/health/v1/health.pb.go
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/go.mod
  ldap-connector/go.sum
  provider-ssh-authorized-keys/go.mod
  provider-ssh-authorized-keys/go.sum
  sbatch-service/go.mod
  sbatch-service/go.sum
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4, @Lymnah

fix(cli): fix imports
  cli/deepsquare/metascheduler/metascheduler_error.go
  cli/deepsquare/metascheduler/metascheduler_error_test.go
Owners: @Darkness4, @Lymnah

fix(go): fix go work and go sum
  cli/go.mod
  cli/go.sum
  grid-logger/go.mod
  grid-logger/go.sum
  ldap-connector/go.mod
  ldap-connector/go.sum
  provider-ssh-authorized-keys/go.sum
  sbatch-service/go.mod
  sbatch-service/go.sum
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  supervisor/go.mod
  supervisor/go.sum
  supervisor/pkg/job/scheduler/scheduler_slurm_integration_test.go
Owners: @Darkness4, @Lymnah

feat(cli): business logic done
  cli/deepsquare/deepsquare.go
  cli/deepsquare/deepsquare_client.go
  cli/deepsquare/graph/graph.go
  cli/deepsquare/logger/logger.go
  cli/deepsquare/metascheduler/metascheduler_client.go
  cli/deepsquare/metascheduler/metascheduler_error.go
  cli/deepsquare/sbatch/sbatch.go
  cli/go.mod
  cli/go.sum
  cli/tools/tools.go
Owners: @Darkness4, @Lymnah

feat(cli): status page
  cli/.env
  cli/.gitignore
  cli/deepsquare/deepsquare.go
  cli/deepsquare/metascheduler/metascheduler_client.go
  cli/deepsquare/sbatch/sbatch.go
  cli/go.mod
  cli/go.sum
  cli/main.go
  cli/tui/home/home.go
  cli/tui/status/status.go
  cli/tui/status/status_model.go
  ldap-connector/go.mod
  ldap-connector/go.sum
  sbatch-service/go.mod
  sbatch-service/go.sum
  smart-contracts-exporter/go.mod
  smart-contracts-exporter/go.sum
  supervisor/go.mod
  supervisor/go.sum
Owners: @Darkness4, @Lymnah

fix(supervisor): add sbatch timeout
  supervisor/pkg/sbatch/sbatch.go
Owners: @Darkness4

fix(go): fuk go proxy
  cli/main.go
  cli/tui/status/status.go
  cli/tui/status/status_model.go
  grid-logger/Dockerfile
  ldap-connector/Dockerfile
  provider-ssh-authorized-keys/Dockerfile
  sbatch-service/Dockerfile
  smart-contracts-exporter/Dockerfile
  supervisor/Dockerfile
Owners: @Darkness4, @Lymnah

fix(cli): missing state handing
  cli/deepsquare/deepsquare.go
  cli/deepsquare/metascheduler/metascheduler_client.go
  cli/main.go
  cli/tui/status/status.go
  cli/tui/status/status_model.go
Owners: @Darkness4, @Lymnah

fix(grid-logger): fix on peer not authenticated
  grid-logger/server/api/logger.go
Owners: none

feat(cli): add logs
  cli/deepsquare/deepsquare.go
  cli/deepsquare/gridlogger/gridlogger.go
  cli/main.go
  cli/tui/log/log.go
  cli/tui/log/log_model.go
  cli/tui/status/status.go
  cli/tui/status/status_model.go
  cli/util/channel/channel.go
Owners: @Darkness4, @Lymnah

feat(cli): routing, pixel art and style
  cli/main.go
  cli/tui/home/home.go
  cli/tui/log/log.go
  cli/tui/log/log_model.go
  cli/tui/nav/nav.go
  cli/tui/nav/title.txt
  cli/tui/status/status.go
  cli/tui/status/status_model.go
  cli/tui/style/style.go
Owners: @Darkness4, @Lymnah

feat(cli): rearchitecturing cli for future public use
  cli/.gitignore
  cli/Makefile
  cli/cli.go
  cli/deepsquare/gridlogger/gridlogger.go
  cli/go.mod
  cli/internal/abi/errors/errors.go
  cli/internal/abi/metascheduler/metascheduler.go
  cli/internal/graphql/graphql.go
  cli/internal/log/logger.go
  cli/internal/logger/v1alpha1/log.pb.go
  cli/internal/logger/v1alpha1/log_grpc.pb.go
  cli/internal/tools/tools.go
  cli/logger/logger.go
  cli/metascheduler/ErrorContract.sol
  cli/metascheduler/metascheduler_client.go
  cli/metascheduler/metascheduler_error.go
  cli/metascheduler/metascheduler_error_test.go
  cli/metascheduler/metascheduler_job_status.go
  cli/sbatch/sbatch.go
  cli/scripts/1.generate-eth.sh
  cli/tui/log/log.go
  cli/tui/log/log_model.go
  cli/tui/main.go
  cli/tui/nav/nav.go
  cli/tui/status/status.go
  cli/tui/status/status_model.go
  cli/tui/status/status_util.go
  cli/util/channel/channel.go
Owners: @Darkness4, @Lymnah

chore(cli): respect go naming convention
  cli/cli.go
  cli/metascheduler/metascheduler_client.go
  cli/tui/status/status_model.go
Owners: @Darkness4, @Lymnah

feat(cli): builder pattern and show balance
  cli/cli.go
  cli/internal/ether/ether.go
  cli/metascheduler/metascheduler_client.go
  cli/tui/main.go
  cli/tui/nav/nav.go
  cli/tui/status/status.go
Owners: @Darkness4, @Lymnah

feat(cli): watch balance and allowance
  cli/.gitignore
  cli/.vscode/launch.json
  cli/cli.go
  cli/logger/logger.go
  cli/metascheduler/metascheduler_client.go
  cli/tui/log/log.go
  cli/tui/log/log_model.go
  cli/tui/main.go
  cli/tui/nav/nav.go
  cli/tui/status/status_model.go
  cli/tui/status/status_util.go
  cli/tui/util/util.go
Owners: @Darkness4, @Lymnah

chore(cli): styling
  cli/tui/nav/nav.go
  cli/tui/status/status_model.go
Owners: @Darkness4, @Lymnah

CODEOWNERS:

# CI/CD
.github/ @Darkness4
docker/ @Darkness4

# Contracts
smart-contracts/ @Lymnah @Darkness4 @efelem
protos/ @Darkness4 @efelem @Lymnah
schemas/ @Darkness4 @valentinpollart

# Customer side
customer-portal/ @valentinpollart @Lymnah
cli/ @Darkness4 @Lymnah

# Microservices
sbatch-services/ @Darkness4
avalanche-subnet/ @efelem
oracle-scheduler/ @efelem @Lymnah

# Cluster-side
provider-job-completion-plugin/ @Darkness4
provider-spank-plugin/ @Darkness4
provider-ssh-authorized-keys/ @Darkness4
supervisor/ @Darkness4
